Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Reject an unreadable bpftrace script before anything runs
  CHANGELOG.md
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Stop the Nsight backend attaching; print the command that captures
  CHANGELOG.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerNsight.hpp
  src/bench/src/ProfilerNsight.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/ProfilerNsight_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Quote the perf launch's paths so the checked perf is what runs
  CHANGELOG.md
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Run the GPU profiler hooks around every measurement
  CHANGELOG.md
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, iwyu-local

Rebuild the CI guide around one gate script that keeps its reports
  src/bench/docs/CI_CD_INTEGRATION.md
  src/bench/docs/DOCKER_SETUP.md
Due: none

Show walkthrough 14's comparison in the merged CLI's format
  src/bench/demo/README.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
Due: none

Build demo 07 on the join example and check its instruction counts
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/demo/examples/CMakeLists.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Pin what each SAXPY version allocates and launches per call
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/saxpy/utst/SaxpyDriving_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Give the join example joinedSize() and use it in demo 11
  CHANGELOG.md
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/examples/join/src/Join.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, iwyu-local

Rewrite walkthrough 07 from a callgrind capture on the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/reference/pi4/07_callgrind_profiler.csv
Due: none

Show walkthrough 03's comparison as the merged CLI prints it
  src/bench/demo/docs/03_GPERF_PROFILER.md
Due: none

Rebuild the Nsight demo on the shared SAXPY example
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/02_NsightProfiler_Demo.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local

Regenerate walkthroughs 01 and 10's comparison output from saved CSVs
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
Due: none

List libc6-dbg in the Pi rig setup and correct its gperftools version
  src/bench/docs/rigs/RIG_PI4.md
Due: none

Describe why --profile-frequency leaves gperf at its default rate
  src/bench/demo/docs/03_GPERF_PROFILER.md
Due: none

Check in demo 11's guard that joinedSize() holds no heap
  CHANGELOG.md
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
Due: clang-format-local, iwyu-local

Replace the whole scalar allocation family in the join tests
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, iwyu-local

Say where walkthrough 21's ctest line comes from
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
Due: none

Keep machine-specific heaptrack costs out of its header
  CHANGELOG.md
  src/bench/inc/ProfilerHeaptrack.hpp
Due: clang-format-local, iwyu-local

Yield CUPTI only to an Nsight session or the explicit override
  CHANGELOG.md
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/ProfilerNsight_uTest.cpp
  src/bench/utst/ScopedEnv.hpp
Due: clang-format-local, iwyu-local

Run demo 11's peak-heap guard under the demo CTest label
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/14_MASSIF_PROFILER.md
Due: cmake-format-local, cmake-lint-local

State walkthrough 14's timing spread as observed, not a bound
  src/bench/demo/docs/14_MASSIF_PROFILER.md
Due: none

Judge a probe's sudo refusal by the command it ran; say what it checked
  CHANGELOG.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
  src/bench/utst/fixtures/readiness/fake_sudo.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name walkthrough 14's joinV0 entries by size, not address
  src/bench/demo/docs/14_MASSIF_PROFILER.md
Due: none

Say that --profile-frequency is set too late to change gperf's rate
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/inc/PerfConfig.hpp
  src/bench/src/ProfilerGperf.cpp
Due: clang-format-local, iwyu-local

Say what the bpftrace check runs in the BPF scripts guide
  src/bench/docs/BPF_SCRIPTS.md
Due: none

Show walkthrough 07's comparison as the merged CLI prints it
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
Due: none

Retire the search workloads and list demo 07 under the join example
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, iwyu-local

Skip the callgrind window tests where valgrind cannot read the probe
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
Due: cmake-format-local, cmake-lint-local

Capture walkthrough 11 on the Thor with nsys and ncu
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/demo/reference/thor/11_nsight_profiler.csv
Due: none

Say what nsight-parse writes and what it cannot read yet
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  tools/README.md
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
Due: none

Rewrite the heaptrack walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/reference/pi4/21_heaptrack_profiler.csv
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Say walkthrough 03's rig setup installs the C library's debug symbols
  src/bench/demo/docs/03_GPERF_PROFILER.md
Due: none

Show walkthrough 03's CTest check by name, not by its total
  src/bench/demo/docs/03_GPERF_PROFILER.md
Due: none

Move demo 03's profile-check plumbing into a private header
  src/bench/demo/cpu/03_GperfProfiler_Check.hpp
  src/bench/demo/cpu/03_GperfProfiler_Demo.cpp
Due: clang-format-local, iwyu-local

State walkthrough 03's x86 profile shares from every x86 run
  src/bench/demo/docs/03_GPERF_PROFILER.md
Due: none

Move demo 07's child-run helpers into a private header
  src/bench/demo/cpu/07_CallgrindProfiler_Check.hpp
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
Due: clang-format-local, iwyu-local

Fail the callgrind checks when a run dies before its tests start
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/07_CallgrindProfiler_Check.hpp
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
  src/bench/utst/StartupFaultUnderValgrind.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Select demo 07's instruction guard with the demo label too
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
Due: cmake-format-local, cmake-lint-local

Keep walkthrough 07's call-graph finding to the rig it was seen on
  CHANGELOG.md
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
Due: clang-format-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
