Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Check the valgrind tools a request names; fail an unwrapped request
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/inc/ProfilerHelgrind.hpp
  src/bench/inc/ProfilerMassif.hpp
  src/bench/inc/ProfilerMemcheck.hpp
  src/bench/inc/ValgrindTool.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerHelgrind.cpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
  src/bench/src/ValgrindTool.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerWrapChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_valgrind.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Check heaptrack and rocprof requests; fail an unwrapped request
  CHANGELOG.md
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/inc/ProfilerRocprof.hpp
  src/bench/inc/ValgrindTool.hpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/src/ProfilerRocprof.cpp
  src/bench/utst/ProfilerWrapChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_heaptrack.sh
  src/bench/utst/fixtures/readiness/fake_rocprof.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 06 on the join example and rewrite its walkthrough from the Pi rig
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/06_ThreadScaling_Demo.cpp
  src/bench/demo/cpu/06_ThreadScaling_Totals.hpp
  src/bench/demo/cpu/utst/06_ThreadScaling_uTest.cpp
  src/bench/demo/docs/06_THREAD_SCALING.md
  src/bench/demo/docs/16_OFFCPU_PROFILER.md
  src/bench/demo/helpers/DemoWorkloads.hpp
  src/bench/demo/reference/pi4/06_thread_scaling.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Keep bench doctor --json one document when requirements are checked
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/workflow.rs
  tools/rust/tests/bench.rs
Due: none

Forward a profile request to bench doctor and require its own row
  CHANGELOG.md
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: none

Hold the Nsight range to its measurement with an NVTX recorder
  src/bench/utst/CMakeLists.txt
  src/bench/utst/NvtxRangeRecorder.cpp
  src/bench/utst/NvtxRangeRecorder.hpp
  src/bench/utst/ProfilerNsightRange_uTest.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Compile the CUPTI collector in GPU builds without CUPTI
  CHANGELOG.md
  CMakeLists.txt
  src/bench/CMakeLists.txt
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CuptiCollectorAbsent_uTest.cpp
  src/bench/utst/fake_cupti/cupti.h
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Bind the bpftrace window to its threads and flag reports with no data
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, iwyu-local

Compile the GPU harness's NVML calls only when NVML was found
  CHANGELOG.md
  CMakeLists.txt
  src/bench/CMakeLists.txt
  src/bench/src/PerfGpuHarness.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local

Rebuild demo 09 on write batching and the shared join
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/09_BpftraceProfiler_Demo.cpp
  src/bench/demo/cpu/09_BpftraceProfiler_Workload.hpp
  src/bench/demo/cpu/utst/09_BpftraceProfiler_Check.hpp
  src/bench/demo/cpu/utst/09_BpftraceProfiler_uTest.cpp
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild the NVTX demo on SAXPY G1's three phases
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/10_NvtxAnnotation_Demo.cpp
  src/bench/demo/gpu/05_NvtxAnnotation_Demo.cu
  src/bench/demo/gpu/05_NvtxAnnotation_Phases.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Make bench validate an advisory inventory that can read a doctor
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/report.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/validate.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: none

Rebuild demo 14 with a race helgrind finds and rewrite its walkthrough from the Pi rig
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/14_HelgrindProfiler_Demo.cpp
  src/bench/demo/cpu/14_HelgrindProfiler_Racy.cpp
  src/bench/demo/cpu/14_HelgrindProfiler_Racy.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_Check.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/reference/pi4/20_helgrind_profiler.csv
  src/bench/inc/HelgrindRequests.hpp
  src/bench/inc/PerfUtils.hpp
  src/bench/src/HelgrindRequests.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/StartGateHelgrind_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add the traced-demo check support for demo 13's check
  src/bench/demo/cpu/utst/09_BpftraceProfiler_Check.hpp
Due: clang-format-local, iwyu-local

Escape the output folder in valgrind's output options
  CHANGELOG.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: none

Check every CUPTI call and state the cells left empty
  CHANGELOG.md
  src/bench/inc/CuptiCollector.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CuptiCollectorAbsent_uTest.cpp
  src/bench/utst/CuptiCollectorDecision_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/fake_cupti/cupti.h
Due: clang-format-local, iwyu-local

Check demo 13's lock wait with a real off-CPU capture
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/utst/13_OffCpuProfiler_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Record one thread for a single-thread measurement
  CHANGELOG.md
  src/bench/inc/PerfHarness.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Tell an omitted --profile-test-timeout from an explicit 0
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/PerfConfig_uTest.cpp
  src/bench/utst/PerfWatchdog_uTest.cpp
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: clang-format-local, iwyu-local

Skip the memcheck check where valgrind's reader asserts at start
  CHANGELOG.md
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
Due: clang-format-local, iwyu-local

Escape the output folder in nsys's and ncu's -o
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: none

Quote a CSV test name that holds a comma or a quote
  CHANGELOG.md
  src/bench/inc/PerfCsv.hpp
  src/bench/utst/PerfCsv_uTest.cpp
Due: clang-format-local, iwyu-local

Fill the GPU harness's NVML cells only from readings NVML reported
  CHANGELOG.md
  src/bench/inc/PerfGpuStats.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/NvmlTelemetry.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/NvmlTelemetryAbsent_uTest.cpp
  src/bench/utst/NvmlTelemetry_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/fake_nvml/nvml.h
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Refuse a heaptrack output folder holding %h or %p
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: none

Check the NVTX demo's ranges under Nsight Systems
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Ranges_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Look up the GPU harness's NVML device by the CUDA device's UUID
  CHANGELOG.md
  src/bench/src/NvmlTelemetry.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/NvmlTelemetryAbsent_uTest.cpp
  src/bench/utst/NvmlTelemetry_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/fake_nvml/nvml.h
Due: clang-format-local, iwyu-local

Take run metadata before the first profiled measurement
  CHANGELOG.md
  src/bench/inc/Profiler.hpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_git.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Leave the occupancy and bandwidth cells empty when nothing was measured
  CHANGELOG.md
  src/bench/inc/PerfGpuStats.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, iwyu-local

Judge each memcheck frame on its own before the no-symbols skip
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_Check.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Stop the run when its --csv file cannot be opened
  CHANGELOG.md
  src/bench/inc/PerfListener.hpp
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Rewrite the NVTX walkthrough from the Thor
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/reference/thor/13_nvtx_annotation.csv
Due: none

Publish every completed measurement as its own CSV row
  CHANGELOG.md
  src/bench/inc/PerfAbi.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/inc/Profiler.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/MeasurementRows.cmake
  src/bench/utst/MeasurementRowsProbe.cpp
  src/bench/utst/MeasurementRows_test.cmake
  src/bench/utst/PerfAbi_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/PerfListener_uTest.cpp
  src/bench/utst/PerfRegistry_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Shorten the demo 13 changelog entry
  CHANGELOG.md
Due: none

Check every GPU column of demo 02's kernel rows against its source
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_Kernel.cu
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_Kernel.hpp
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Start the measured phase once perf answers that it is counting
  CHANGELOG.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/ProfilerPerf.hpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/ProfilerPerfLifecycle_uTest.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_perf.sh
Due: clang-format-local, iwyu-local

Count tests and rows apart in the end-of-run table's footer
  CHANGELOG.md
  src/bench/inc/PerfListener.hpp
  src/bench/utst/MeasurementRows_test.cmake
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Shorten the measurement-row changelog entries
  CHANGELOG.md
Due: none

Rewrite the off-CPU walkthrough from captures on the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/16_OFFCPU_PROFILER.md
  src/bench/demo/reference/pi4/16_offcpu_profiler.csv
Due: none

Rewrite walkthrough 19 on the GPU columns of demo 02's kernel rows
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
  src/bench/demo/reference/thor/19_cupti_kernel_metrics.csv
Due: none

Skip the helgrind checks where valgrind's reader asserts at start
  CHANGELOG.md
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
Due: clang-format-local, iwyu-local
