Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Shorten the release notes of demos 01, 03 and 11 and the TSan fix
  CHANGELOG.md
Due: none

Reduce six changelog entries to their user-visible change
  CHANGELOG.md
Due: none

Name the populations behind page 11's copy statistics
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
Due: none

Judge each helgrind race frame on its own before the no-symbols skip
  src/bench/demo/cpu/utst/14_HelgrindProfiler_Check.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
Due: clang-format-local, iwyu-local

Word page 14's massif byte counts as within its peak inaccuracy
  src/bench/demo/docs/14_MASSIF_PROFILER.md
Due: none

Fail a run whose requested profile fails, and report it at the end
  CHANGELOG.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/ProfilerRegistry_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/ReadinessCustomMain.cpp
  src/bench/utst/fixtures/readiness/ReadinessFixtureTarget.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Key each readiness decision on every field of its request
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/ProfilerRegistry_uTest.cpp
Due: clang-format-local, iwyu-local

Report a failed benchmark run by its exit status, not a parse error
  CHANGELOG.md
  src/bench/docs/TROUBLESHOOTING.md
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Detect Compute Sanitizer by what it exports, not by the binary's name
  CHANGELOG.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerComputeSanitizerSession_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Make the start gate's helgrind requests in libbench, not the header
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/inc/HelgrindRequests.hpp
  src/bench/inc/PerfUtils.hpp
  src/bench/src/HelgrindRequests.cpp
  src/bench/utst/StartGateHelgrind_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Cut the helgrind release notes to what a reader needs
  CHANGELOG.md
Due: none

Check that memcheck names the unguarded read and nothing for the kernel
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Check.hpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 04 on SAXPY with an unguarded copy for the sanitizer
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Unguarded.cu
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Unguarded.hpp
  src/bench/demo/helpers/SkipUnlessUnderComputeSanitizer.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderComputeSanitizer_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 03 on a transpose held to the CPU's answers
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/03_SharedMemoryOpt_Demo.cu
  src/bench/demo/gpu/03_SharedMemoryOpt_Transpose.cu
  src/bench/demo/gpu/03_SharedMemoryOpt_Transpose.cuh
  src/bench/demo/gpu/03_SharedMemoryOpt_Workload.hpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_uTest.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Print a wrap command whose log survives the first run
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
  src/bench/src/ProfilerComputeSanitizer.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Count demo 03's bank conflicts with Nsight Compute under ctest
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Count only sleeping switch-outs in the off-CPU script
  CHANGELOG.md
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Trace threaded tests to their end with the bundled bpftrace scripts
  CHANGELOG.md
  src/bench/bpf/cpu_migrations.bt
  src/bench/bpf/fsync_latency.bt
  src/bench/bpf/wakeup_latency.bt
  src/bench/bpf/write_latency.bt
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/BpfScripts_uTest.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Skip the sanitizer demo's checks in a build where the demo cannot run
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Check.hpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
  src/bench/demo/helpers/utst/SkipUnlessUnderComputeSanitizer_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Route every profiler spelling and mode to the tool that collects it
  CHANGELOG.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerRegistry_uTest.cpp
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the compute-sanitizer walkthrough on SAXPY from the Thor rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/reference/thor/17_compute_sanitizer.csv
Due: none

Rewrite the shared-memory walkthrough from the Thor with ncu's counters
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
  src/bench/demo/reference/thor/12_shared_memory_opt.csv
Due: none

Check a wrapped run's output after it exits; refuse unusable folders
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Shorten demo 03's changelog entry; say what a failing check leaves
  CHANGELOG.md
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
Due: none

Arm the off-CPU trace and report whether each capture is valid
  CHANGELOG.md
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
  src/bench/utst/fixtures/readiness/offcpu_dump.txt
  src/bench/utst/fixtures/readiness/offcpu_dump_cut.txt
  src/bench/utst/fixtures/readiness/offcpu_dump_zero.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Shorten the compute-sanitizer release notes; measure the laptop cost
  CHANGELOG.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
Due: none

Wait for perf to finish, and fail a perf that did not start or finish
  CHANGELOG.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/ProfilerPerf.hpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerPerfLifecycle_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_perf.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Start a bpftrace capture when the tracer acknowledges its arm probe
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Annotate a callgrind profile after valgrind has written it
  CHANGELOG.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Reduce the demo 01, 03 and 11 release notes to change and migration
  CHANGELOG.md
Due: none

Include CHANGELOG.md in the pre-commit hooks and apply their format
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Signal the tool under sudo on kernels without a children list
  CHANGELOG.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
Due: clang-format-local, iwyu-local

Say once why the join performance checks stay outside CTest
  src/bench/demo/examples/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Report each profile-all run and fail when a requested one fails
  CHANGELOG.md
  src/bench/docs/TROUBLESHOOTING.md
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/tests/bench.rs
Due: none

Have the offcpu check wait for the script to arm on this process
  CHANGELOG.md
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fail a compute-sanitizer run whose tool reports errors
  CHANGELOG.md
  src/bench/utst/ProfilerRegistry_uTest.cpp
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: clang-format-local, iwyu-local

Retire demo 04 and its cache-layout walkthrough
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/04_CacheFriendly_Demo.cpp
  src/bench/demo/docs/04_CACHE_FRIENDLY.md
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Require the off-CPU map dump and accept a stop acknowledged late
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, iwyu-local

Measure the shared join example between threads in demo 13
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/13_OffCpuProfiler_Demo.cpp
  src/bench/demo/cpu/13_OffCpuProfiler_Totals.hpp
  src/bench/demo/cpu/utst/13_OffCpuProfiler_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local
