Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Start a bare benchmark name from the working directory in bench run
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/tests/bench.rs
Due: none

Give each demo example its own build; build fixtures as test programs
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/filter/CMakeLists.txt
  src/bench/demo/examples/filter/utst/CMakeLists.txt
  src/bench/demo/examples/join/CMakeLists.txt
  src/bench/demo/examples/join/ptst/CMakeLists.txt
  src/bench/demo/examples/join/utst/CMakeLists.txt
  src/bench/demo/examples/saxpy/CMakeLists.txt
  src/bench/demo/examples/saxpy/utst/CMakeLists.txt
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Signal the tool, not sudo's monitor or the tool's child, under sudo
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_sudo.sh
Due: clang-format-local, iwyu-local

Run nsys stats as an owned, bounded run, as the annotator runs
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Give the bench library one shell-quoting helper
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
Due: clang-format-local, iwyu-local

Keep the measurement-rows runs in a private temporary directory
  src/bench/utst/measurement_rows/CMakeLists.txt
  src/bench/utst/measurement_rows/MeasurementRows_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Wait for the stand-in perf to exit, not only to say it will
  src/bench/utst/ProfilerPerfLifecycle_uTest.cpp
Due: clang-format-local, iwyu-local

Test the stop's pid, the PID namespace and demo 09's text
  src/bench/demo/cpu/09_BpftraceProfiler_Demo.cpp
  src/bench/demo/cpu/09_BpftraceProfiler_Workload.hpp
  src/bench/demo/cpu/utst/09_BpftraceProfiler_uTest.cpp
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, iwyu-local

Read PERF_BPF with the shared boolean grammar
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Recapture the heaptrack walkthrough in one session on the Pi
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
Due: none

Cut the profiling changelog entries to what changed and what to do
  CHANGELOG.md
Due: none

Give the CLI agreement test's cargo the tools build's offline rule
  src/bench/utst/measurement_rows/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Start profiler helpers with their stop signals at the default
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_helper.sh
Due: clang-format-local, iwyu-local

Say exactly what scripts and benchmarks must leave to the window
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
Due: none

Check the GPU columns of demo 02's kernel rows; recapture walkthrough 19
  CHANGELOG.md
  CMakeLists.txt
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_Kernel.cu
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_Kernel.hpp
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_uTest.cpp
  src/bench/demo/reference/thor/19_cupti_kernel_metrics.csv
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/PerfGpuStats.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/NvmlTelemetry.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CuptiCollectorAbsent_uTest.cpp
  src/bench/utst/CuptiCollectorDecision_uTest.cpp
  src/bench/utst/NvmlTelemetryAbsent_uTest.cpp
  src/bench/utst/NvmlTelemetry_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/PerfListener_uTest.cpp
  src/bench/utst/fake_cupti/cupti.h
  src/bench/utst/fake_nvml/nvml.h
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add vernier_add_test_program for plain private test programs
  cmake/vernier/Testing.cmake
  cmake/vernier/utst/AddGtestNoRegister_test.cmake
Due: cmake-format-local, cmake-lint-local

Give the NVTX check's reading and judgement a private header
  src/bench/demo/gpu/05_NvtxAnnotation_Phases.hpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Check.hpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Ranges_uTest.cpp
Due: clang-format-local, iwyu-local

Test demo 03's ncu reading and verdict in CUDA-off builds
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflictsReport_uTest.cpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_Check.hpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name the CSV tests' files by process and test
  src/bench/utst/PerfCsv_uTest.cpp
Due: clang-format-local, iwyu-local

Run the compute-sanitizer report tests in builds without CUDA
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Check.hpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Report_uTest.cpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Port nsight-parse to the Rust CLI and remove the Python tool
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
  tools/README.md
  tools/py/pyproject.toml
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
  tools/py/tests/test_nsight_parser.py
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/nsight_report/exec.rs
  tools/rust/src/bench/nsight_report/extract.rs
  tools/rust/src/bench/nsight_report/mod.rs
  tools/rust/src/bench/nsight_report/parse.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/fixtures/nsight/.gitattributes
  tools/rust/tests/fixtures/nsight/README.md
  tools/rust/tests/fixtures/nsight/expected_all_reports.csv
  tools/rust/tests/fixtures/nsight/expected_ncu_metrics.csv
  tools/rust/tests/fixtures/nsight/expected_nsys_summaries.csv
  tools/rust/tests/fixtures/nsight/ncu_import_damaged.out
  tools/rust/tests/fixtures/nsight/ncu_import_per_kernel.out
  tools/rust/tests/fixtures/nsight/ncu_without_import.out
  tools/rust/tests/fixtures/nsight/nsys_stats_beside_runner_export.err
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_api_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_kern_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_size_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_time_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_no_kernels.out
  tools/rust/tests/nsight_report.rs
Due: none

Read the helper stand-in's signal masks in its own process
  src/bench/utst/fixtures/readiness/fake_helper.sh
Due: none

Run the NVTX check's GPU-free tests in every build
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Check.hpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_RangesReport_uTest.cpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Ranges_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Move the readiness run scenarios from the CMake driver to C++ tests
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/ReadinessFixtureRun_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Give three of the NVTX check's assessment rules a case each
  src/bench/demo/gpu/utst/05_NvtxAnnotation_RangesReport_uTest.cpp
Due: clang-format-local, iwyu-local

Pass the CLI agreement test only when cargo succeeds and runs it
  src/bench/utst/measurement_rows/CMakeLists.txt
  src/bench/utst/measurement_rows/cargo_test.sh
Due: cmake-format-local, cmake-lint-local

Check that a listener whose CSV did not open still takes its rows
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Keep the dev images' baked crates from cargo's cache cleaning
  CHANGELOG.md
  docker/base.Dockerfile
  docker/dev/cuda.Dockerfile
Due: hadolint-local

Recapture walkthrough 19's Nsight Systems step on the Thor
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
Due: none

Realign the merged demos' checks and give each example its own build
  .pre-commit-config.yaml
  CHANGELOG.md
  cmake/vernier/Testing.cmake
  cmake/vernier/utst/AddGtestNoRegister_test.cmake
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/01_BasicWorkflow_Demo.cpp
  src/bench/demo/cpu/03_GperfProfiler_Demo.cpp
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/filter/CMakeLists.txt
  src/bench/demo/examples/filter/utst/CMakeLists.txt
  src/bench/demo/examples/join/CMakeLists.txt
  src/bench/demo/examples/join/ptst/CMakeLists.txt
  src/bench/demo/examples/join/ptst/GperfProfiles.hpp
  src/bench/demo/examples/join/ptst/JoinProfileAttribution_pTest.cpp
  src/bench/demo/examples/join/ptst/JoinSpeedup_pTest.cpp
  src/bench/demo/examples/join/utst/AllocationCounting.hpp
  src/bench/demo/examples/join/utst/CMakeLists.txt
  src/bench/demo/examples/join/utst/JoinPeakHeap_uTest.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/examples/saxpy/CMakeLists.txt
  src/bench/demo/examples/saxpy/utst/CMakeLists.txt
  src/bench/demo/helpers/DemoWorkloads.hpp
  src/bench/demo/reference/pi4/01_basic_workflow.csv
  src/bench/demo/reference/pi4/03_gperf_profiler.csv
  src/bench/demo/reference/pi4/14_massif_profiler.csv
  src/bench/utst/CMakeLists.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Build the two readiness fixtures as unregistered test programs
  src/bench/utst/ReadinessCli.cmake
Due: cmake-format-local, cmake-lint-local

Build ValgrindReaderAssertionCli as a test program, not an app
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Build the measurement-rows fixture with vernier_add_gtest NO_REGISTER
  src/bench/utst/measurement_rows/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Hold the kernel-columns check's registers to the forms runs show
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
  src/bench/demo/gpu/utst/02_NsightProfiler_KernelColumns_uTest.cpp
Due: clang-format-local, iwyu-local

Count the contention samples' increments exactly, under the lock
  src/bench/ptst/cpu/Contention_pTest.cpp
Due: clang-format-local, iwyu-local

Keep the scaling sample's workers from sharing a result variable
  src/bench/ptst/cpu/ThreadScaling_pTest.cpp
Due: clang-format-local, iwyu-local

Divide the scaling sample's efficiency by the workers it started
  src/bench/ptst/cpu/ThreadScaling_pTest.cpp
Due: clang-format-local, iwyu-local

Turn the watchdog off when a measured callback throws
  CHANGELOG.md
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/PerfWatchdog_uTest.cpp
Due: clang-format-local, iwyu-local

Report the GPU speedup sample's ratio instead of requiring 2x
  src/bench/ptst/gpu/GpuBasics_pTest.cu
Due: clang-format-local

Look for the memcheck write anywhere in joinOffByOne's lines
  CHANGELOG.md
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
Due: clang-format-local, iwyu-local
