Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Read Nsight reports into CSV with bench nsight-parse parse
  CHANGELOG.md
  tools/README.md
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/nsight_report/exec.rs
  tools/rust/src/bench/nsight_report/extract.rs
  tools/rust/src/bench/nsight_report/mod.rs
  tools/rust/src/bench/nsight_report/parse.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/fixtures/nsight/.gitattributes
  tools/rust/tests/fixtures/nsight/README.md
  tools/rust/tests/fixtures/nsight/expected_all_reports.csv
  tools/rust/tests/fixtures/nsight/expected_ncu_metrics.csv
  tools/rust/tests/fixtures/nsight/expected_nsys_summaries.csv
  tools/rust/tests/fixtures/nsight/ncu_import_damaged.out
  tools/rust/tests/fixtures/nsight/ncu_import_per_kernel.out
  tools/rust/tests/fixtures/nsight/ncu_without_import.out
  tools/rust/tests/fixtures/nsight/nsys_stats_beside_runner_export.err
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_api_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_kern_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_size_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_time_sum.out
  tools/rust/tests/fixtures/nsight/nsys_stats_no_kernels.out
  tools/rust/tests/nsight_report.rs
Due: none

Remove the Python nsight-parse tool
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  tools/README.md
  tools/py/pyproject.toml
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
  tools/py/tests/fixtures/nsight/README.md
  tools/py/tests/fixtures/nsight/ncu_import_damaged.out
  tools/py/tests/fixtures/nsight/ncu_import_per_kernel.out
  tools/py/tests/fixtures/nsight/ncu_without_import.out
  tools/py/tests/fixtures/nsight/nsys_stats_beside_runner_export.err
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_api_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_kern_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_size_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_time_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_no_kernels.out
  tools/py/tests/test_nsight_parser.py
  tools/rust/src/bench/workflow.rs
Due: none

Offer only the bpftrace access that works, in hints for both backends
  CHANGELOG.md
  src/bench/demo/cpu/utst/09_BpftraceProfiler_uTest.cpp
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Check Nsight and Compute Sanitizer requests on CPU-only builds too
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerComputeSanitizer.hpp
  src/bench/inc/ProfilerComputeSanitizerChecks.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerNsight.hpp
  src/bench/inc/ProfilerNsightChecks.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/src/ProfilerComputeSanitizerChecks.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerNsightChecks.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerGpuChecks_uTest.cpp
  src/bench/utst/ProfilerGpuRegistration_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_nvidia_tool.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Read valgrind's reader assertion once, for the callgrind checks too
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/examples/join/utst/CallgrindRuns.hpp
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
  src/bench/utst/CallgrindWindowReaderAssertion_fake_valgrind.sh
  src/bench/utst/CallgrindWindowReaderAssertion_test.cmake
  src/bench/utst/ValgrindReaderAssertion.hpp
  src/bench/utst/ValgrindReaderAssertionCli.cpp
  src/bench/utst/ValgrindReaderAssertion_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Recapture walkthrough 11's CSV step with bench nsight-parse parse
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
  tools/README.md
Due: none

Shorten the off-CPU changelog entries to each change and its migration
  CHANGELOG.md
Due: none

Describe the checks' reader-assertion skip and frame rule on the pages
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
Due: none

Rewrite the bpftrace walkthrough from the Pi rig
  CHANGELOG.md
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/demo/reference/pi4/09_bpftrace_profiler.csv
  src/bench/docs/BPF_SCRIPTS.md
Due: none

Document how profile requests fail, finish and are checked
  CHANGELOG.md
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/docs/rigs/README.md
  tools/README.md
Due: none

Report a failed profile request in the GPU benchmark's exit status
  CHANGELOG.md
  src/bench/ptst/gpu/GpuTestMain_pTest.cu
Due: clang-format-local

Read racecheck's summary in compute-sanitizer's verdict
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Recapture the rig doctor blocks and walkthrough transcripts
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Point two guides' Nsight commands at runs that capture
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Wait in the memo concurrency test without a timed condition wait
  src/bench/utst/ProfilerReadiness_uTest.cpp
Due: clang-format-local, iwyu-local

Stop the bpftrace check's probe only once it has attached
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Leave the CUPTI cells empty when a window's record walk fails
  src/bench/inc/CuptiCollector.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/utst/CuptiCollectorDecision_uTest.cpp
  src/bench/utst/fake_cupti/cupti.h
Due: clang-format-local, iwyu-local

Require the padded kernel's conflict count in demo 03's check
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_uTest.cpp
Due: clang-format-local, iwyu-local

Say why the bpftrace check refuses a script that ends itself
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, iwyu-local

Keep the bundled bpftrace scripts' comments true in a run's copy
  src/bench/bpf/cpu_migrations.bt
  src/bench/bpf/fsync_latency.bt
  src/bench/bpf/wakeup_latency.bt
  src/bench/bpf/write_latency.bt
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

End what callgrind_annotate leaves running before bench run returns
  CHANGELOG.md
  tools/README.md
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Cut the bpftrace changelog entries to what a user acts on
  CHANGELOG.md
Due: none

State the doctor's cost as runs observed on the rigs
  tools/README.md
Due: none

Print only commands that run the requested sanitizer tool
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
  src/bench/src/ProfilerComputeSanitizer.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fail unexplained capture failures in the NVTX range check
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Ranges_uTest.cpp
Due: clang-format-local, iwyu-local

Quote the folder and the log in the printed sanitizer recipe
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
  src/bench/src/ProfilerComputeSanitizer.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Quote the bpftrace check's new rows from the Pi rig
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
Due: none

Correct what walkthrough 13 says a range and a summary hold
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/gpu/05_NvtxAnnotation_Demo.cu
Due: clang-format-local

Credit memcheck, not the end checks, for the kernel's bounds
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
Due: clang-format-local

Stop an Nsight tool's whole process group however its command ends
  tools/README.md
  tools/rust/src/bench/nsight_report/exec.rs
  tools/rust/src/bench/nsight_report/extract.rs
  tools/rust/src/bench/nsight_report/mod.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/nsight_report.rs
Due: none

Refuse a --csv that is one of the Nsight reports by any link
  tools/README.md
  tools/rust/src/bench/nsight_report/extract.rs
  tools/rust/tests/nsight_report.rs
Due: none

Drop the doubled parse from bench nsight-parse
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
  tools/README.md
  tools/rust/src/bench/nsight_report/mod.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/fixtures/nsight/README.md
  tools/rust/tests/nsight_report.rs
Due: none

Make the Nsight signal tests independent of inherited signals
  tools/rust/tests/nsight_report.rs
Due: none

Add NO_REGISTER to vernier_add_gtest for controller-run fixtures
  cmake/vernier/Testing.cmake
  cmake/vernier/utst/AddGtestNoRegister_test.cmake
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Move the join performance tests and their header to join/ptst
  src/bench/demo/README.md
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/ptst/GperfProfiles.hpp
  src/bench/demo/examples/join/ptst/JoinProfileAttribution_pTest.cpp
  src/bench/demo/examples/join/ptst/JoinSpeedup_pTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name the listener tests' CSV files by process and test
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Give the measurement-rows check its own directory and test code
  src/bench/utst/CMakeLists.txt
  src/bench/utst/MeasurementRows.cmake
  src/bench/utst/MeasurementRows_test.cmake
  src/bench/utst/measurement_rows/CMakeLists.txt
  src/bench/utst/measurement_rows/MeasurementRows_uTest.cpp
  src/bench/utst/measurement_rows/fixtures/MeasurementRowsProbe.cpp
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Set bench run's SIGINT action in the tests that signal it
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Test a perf that ends at its start without the handshake
  src/bench/utst/ProfilerPerfLifecycle_uTest.cpp
Due: clang-format-local, iwyu-local

Run racecheck warnings through bench run in the tests
  tools/rust/tests/bench.rs
Due: none

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
