Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

State what bench doctor checks without promising attachment
  src/bench/docs/rigs/README.md
Due: none

Add reference rigs and the demo walkthrough template (#27)
  README.md
  src/bench/demo/README.md
  src/bench/demo/docs/TEMPLATE.md
  src/bench/docs/rigs/README.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Keep each CSV row's config columns as the case recorded them
  src/bench/inc/PerfListener.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Calibrate --target-time from a timed batch of calls
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfTargetTime_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Let --target-time size a slow case down to one cycle
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/PerfTargetTime_uTest.cpp
Due: clang-format-local, iwyu-local

Warn about unknown long options instead of ignoring them
  src/bench/inc/PerfConfig.hpp
  src/bench/utst/PerfConfig_uTest.cpp
  src/bench/utst/StderrCapture.hpp
Due: clang-format-local, iwyu-local

Make tcmalloc an explicit opt-in (VERNIER_LINK_TCMALLOC)
  CHANGELOG.md
  CMakeLists.txt
  cmake/vernier/Testing.cmake
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Document the capture fixes in the changelog and the guides
  CHANGELOG.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
Due: none

Update the reference rigs for the tcmalloc opt-in
  src/bench/docs/rigs/README.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Fix what a capture records: allocator, CSV columns, --target-time (#28)
  CHANGELOG.md
  CMakeLists.txt
  cmake/vernier/Testing.cmake
  src/bench/CMakeLists.txt
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/rigs/README.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfConfig_uTest.cpp
  src/bench/utst/PerfListener_uTest.cpp
  src/bench/utst/PerfTargetTime_uTest.cpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
  src/bench/utst/StderrCapture.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Assert the gperf heap-mode explanation in a fresh process
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
Due: clang-format-local, iwyu-local

Consume write results in the profile watchdog handler
  CHANGELOG.md
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ConsumerTranslationUnit.cpp
  src/bench/utst/PerfWatchdog_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fail make test targets when ctest fails
  CHANGELOG.md
  mk/common.mk
  mk/docker.mk
  mk/test.mk
Due: none

Fail the release when an expected asset is missing
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/check-release-assets.sh
Due: none

Align the tool versions with the project version
  CHANGELOG.md
  tools/py/pyproject.toml
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
Due: none

Honor CMAKE_CUDA_ARCHITECTURES instead of overriding it
  CHANGELOG.md
  CMakeLists.txt
  cmake/vernier/CudaArchitectures.cmake
  cmake/vernier/utst/CudaArchitectures_test.cmake
  src/bench/docs/rigs/RIG_THOR_AGX.md
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Keep the sample allocation benchmark's buffer observable
  CHANGELOG.md
  src/bench/ptst/cpu/AllocationOverhead_pTest.cpp
  src/bench/ptst/helpers/TestHelpers.hpp
Due: clang-format-local, iwyu-local

Name the missing wrapper program in bench run
  CHANGELOG.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Document when the dev image needs a perf rebuild
  CHANGELOG.md
  docker/base.Dockerfile
  mk/docker.mk
Due: hadolint-local

Append targetTimeUs to PerfConfig and pin the shared layout
  src/bench/inc/PerfConfig.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfAbi_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Check at start-up that benchmark and bench libraries match
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/inc/PerfAbi.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/inc/Profiler.hpp
  src/bench/src/PerfAbi.cpp
  src/bench/src/PerfGpuAbi.cu
  src/bench/utst/PerfAbi_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name profile artifact folders after what their data covers
  CHANGELOG.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/src/ProfilerHelgrind.cpp
  src/bench/src/ProfilerJemalloc.cpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRAPL.cpp
  src/bench/src/ProfilerRocprof.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerArtifactDir_uTest.cpp
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Tell Thor rig users how to clear a stale CUDA architecture
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Qualify what the allocation sample comparison establishes
  CHANGELOG.md
  src/bench/ptst/cpu/AllocationOverhead_pTest.cpp
Due: clang-format-local, iwyu-local

Publish and check one release asset list
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/check-release-assets.sh
  scripts/release-assets.txt
Due: none

State the recipe shell policy accurately
  CHANGELOG.md
  mk/common.mk
Due: none

Refuse any shared layout the bench libraries were not built with
  CHANGELOG.md
  src/bench/inc/PerfAbi.hpp
  src/bench/inc/PerfConfig.hpp
  src/bench/src/PerfAbi.cpp
  src/bench/src/PerfGpuAbi.cu
  src/bench/utst/AbiConsumer.cpp
  src/bench/utst/AbiConsumer_test.cmake
  src/bench/utst/AbiMismatchHeaders.cmake
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfAbi_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Encode test names injectively in artifact folder names
  CHANGELOG.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/utst/ProfilerArtifactDir_uTest.cpp
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Fix a repeat-sensitive test and an elided sample benchmark (#29)
  CHANGELOG.md
  src/bench/ptst/cpu/AllocationOverhead_pTest.cpp
  src/bench/ptst/helpers/TestHelpers.hpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
Due: clang-format-local, iwyu-local

Rewrite the rocprof walkthrough as a not-validated stub
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
Due: none

Give the mismatched header tree a single producer
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Fail the layout consumer tests on any sanitizer report
  src/bench/utst/AbiConsumerDriver_test.cmake
  src/bench/utst/AbiConsumer_test.cmake
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Group the layout consumer setup and build it with vernier_add_app
  src/bench/utst/AbiConsumers.cmake
  src/bench/utst/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Deliberately failing test for hosted gate verification
  src/bench/utst/PerfStats_uTest.cpp
Due: clang-format-local, iwyu-local

Scope the rocprof walkthrough to the legacy tool and its markers
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
Due: none

Give the bench libraries their own SONAME
  CHANGELOG.md
  README.md
  cmake/vernier/Targets.cmake
  src/bench/CMakeLists.txt
  src/bench/inc/PerfAbi.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Do not tie the rocprof doctor warning to missing driver devices
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
Due: none

Build demo 01 on a shared join example
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/01_BasicWorkflow_Demo.cpp
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/examples/join/src/Join.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Make the test gate able to fail and releases unable to drop assets (#30)
  .github/workflows/release.yml
  CHANGELOG.md
  docker/base.Dockerfile
  mk/common.mk
  mk/docker.mk
  mk/test.mk
  scripts/check-release-assets.sh
  scripts/release-assets.txt
  tools/py/pyproject.toml
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
Due: hadolint-local

Rewrite the rocprof walkthrough as a not-validated stub (#32)
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
Due: none

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
