Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Production readiness pass: standards, bug fixes, NVTX wiring
  cmake/vernier/Cuda.cmake
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/Nvtx.hpp
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/PerfCsv_uTest.cpp
  src/monitor/CMakeLists.txt
  src/monitor/docs/MONITOR_GUIDE.md
  src/monitor/examples/CMakeLists.txt
  src/monitor/examples/MonitorEnvVarExample.cpp
  src/monitor/inc/Monitor.hpp
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
  tools/py/tests/test_nsight_parser.py
  tools/rust/src/bench/config.rs
  tools/rust/src/bench/gpu_topo.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add tool-overview sections to all profiler demo docs
  src/bench/demo/README.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/docs/04_CACHE_FRIENDLY.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/docs/06_THREAD_SCALING.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/08_RAPL_PROFILER.md
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/16_OFFCPU_PROFILER.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
Due: none

Bring repo-level docs in line with the v1.0.2 surface
  CHANGELOG.md
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  tools/README.md
Due: none

Make build .env work from any cwd (absolute tool paths)
  tools/CMakeLists.txt
  tools/rust/src/bin/bench.rs
Due: cmake-format-local, cmake-lint-local

Auto-wrap wrap-externally backends in `bench run`
  CHANGELOG.md
  tools/CMakeLists.txt
  tools/README.md
  tools/env-helper.sh.in
  tools/rust/src/bench/runner.rs
  tools/rust/src/bin/bench.rs
Due: cmake-format-local, cmake-lint-local

Fix `bench run` auto-wrap rough edges found while dogfooding
  tools/rust/src/bench/runner.rs
Due: none

Route `bench profile-all` through `bench run` so wrap-externally backends get the same auto-wrap treatment
  tools/rust/src/bench/workflow.rs
Due: none

Fix three C++ backend rough edges surfaced by the SLIP dogfood
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/src/ProfilerRAPL.cpp
Due: clang-format-local, iwyu-local

Add VERNIER_DISABLE_CUPTI to free CUPTI for external Nsight
  src/bench/src/CuptiCollector.cu
Due: clang-format-local

Add helgrind/DRD backend and v1.0.2 tooling polish
  CHANGELOG.md
  CMakeLists.txt
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerHelgrind.hpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/src/ProfilerHelgrind.cpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
  src/bench/src/ProfilerPerf.cpp
  tools/env-helper.sh.in
  tools/py/pyproject.toml
  tools/rust/Cargo.lock
  tools/rust/Cargo.toml
  tools/rust/src/bench/runner.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Free CUPTI for Nsight and clear NVTX/NVML GPU build warnings
  src/bench/inc/Nvtx.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
Due: clang-format-local, iwyu-local

Add helgrind/heaptrack/jemalloc demos and update backend docs
  README.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/14_HelgrindProfiler_Demo.cpp
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/cpu/16_JemallocProfiler_Demo.cpp
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/docs/22_JEMALLOC_PROFILER.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/src/ProfilerRAPL.cpp
  tools/README.md
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Apply code-standard fixes to profiler backends and demos
  src/bench/demo/cpu/14_HelgrindProfiler_Demo.cpp
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/cpu/16_JemallocProfiler_Demo.cpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerJemalloc.cpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerRocprof.cpp
Due: clang-format-local, iwyu-local

Correct v1.0.2 backend and demo counts in docs and changelog
  CHANGELOG.md
  README.md
  tools/README.md
Due: none

Add profiler backend registry unit tests
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerRegistry_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fix inaccurate code comments and registry-test backend list
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/src/ProfilerRAPL.cpp
  src/bench/utst/ProfilerRegistry_uTest.cpp
  tools/rust/src/bench/csv_loader.rs
  tools/rust/src/bench/gpu_lock.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Scrub documentation for accuracy against the v1.0.2 surface
  CHANGELOG.md
  README.md
  src/bench/demo/README.md
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/docs/04_CACHE_FRIENDLY.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/docs/06_THREAD_SCALING.md
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/08_RAPL_PROFILER.md
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CI_CD_INTEGRATION.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/monitor/docs/MONITOR_GUIDE.md
  tools/README.md
Due: none

Make bench env checks cover every backend and flag the nsys toolkit skew
  src/bench/docs/DOCKER_SETUP.md
  tools/rust/src/bench/gpu_env.rs
  tools/rust/src/bench/validate.rs
Due: none

Correct bpftrace script path and drop dead callgrind cache/branch flags
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerCallgrind.cpp
  tools/rust/src/bench/workflow.rs
Due: clang-format-local, iwyu-local

Lower the C++ floor to C++20, preferring C++23 when available
  CMakeLists.txt
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/monitor/docs/MONITOR_GUIDE.md
Due: cmake-format-local, cmake-lint-local

Record validate/gpu-env coverage and the C++20 floor in the changelog
  CHANGELOG.md
Due: none

Date the v1.0.2 changelog entry for release
  CHANGELOG.md
Due: none

Tier the base image and bake dependencies for hermetic builds
  ExternalDependencies.cmake
  docker/base.Dockerfile
  docker/scripts/bake-external-deps.sh
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local, hadolint-local

Publish the build tiers and fix image rebuild triggers
  .github/workflows/docker-images.yml
  .github/workflows/release.yml
Due: none

Make the bake parser robust to comments
  docker/scripts/bake-external-deps.sh
Due: none

Guard against non-immutable dependency pins
  .pre-commit-config.yaml
  scripts/check-pinned-deps.sh
Due: none

Build release artifacts on build tiers instead of the dev shells
  docker-compose.yml
  docker/builder/cpu.Dockerfile
  docker/builder/cuda.Dockerfile
  docker/builder/jetson.Dockerfile
  docker/builder/riscv64.Dockerfile
  docker/builder/rpi.Dockerfile
  docker/dev/cpu.Dockerfile
  docker/dev/cuda.Dockerfile
  docker/dev/jetson.Dockerfile
  docker/dev/riscv64.Dockerfile
  docker/dev/rpi.Dockerfile
  mk/docker.mk
Due: hadolint-local

Reuse registry layer cache for CI image builds
  .github/workflows/docker-images.yml
  .github/workflows/release.yml
  docker-compose.ci-cache.yml
  mk/docker.mk
Due: none

Scope the CI gate by changed areas
  .github/workflows/ci.yml
  mk/test.mk
Due: none

Release v1.0.3
  CHANGELOG.md
  CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Add a release rehearsal mode
  .github/workflows/release.yml
Due: none

Hermetic builds, tiered images, and a registry-cached scoped CI (v1.0.3)
  .github/workflows/ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CMakeLists.txt
  ExternalDependencies.cmake
  docker-compose.ci-cache.yml
  docker-compose.yml
  docker/base.Dockerfile
  docker/builder/cpu.Dockerfile
  docker/builder/cuda.Dockerfile
  docker/builder/jetson.Dockerfile
  docker/builder/riscv64.Dockerfile
  docker/builder/rpi.Dockerfile
  docker/dev/cpu.Dockerfile
  docker/dev/cuda.Dockerfile
  docker/dev/jetson.Dockerfile
  docker/dev/riscv64.Dockerfile
  docker/dev/rpi.Dockerfile
  docker/scripts/bake-external-deps.sh
  mk/docker.mk
  mk/test.mk
  scripts/check-pinned-deps.sh
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local, hadolint-local

Probe the scoped-gate fast path
  src/monitor/examples/MonitorEnvVarExample.cpp
Due: clang-format-local, iwyu-local

Guard runPprofAnalysis body for gperftools-less builds
  src/bench/src/ProfilerGperf.cpp
Due: clang-format-local, iwyu-local

Yield in-process CUPTI to external Nsight sessions
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerEnv_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Auto-wrap nsight runs with nsys in bench run
  src/bench/src/ProfilerNsight.cu
  tools/rust/src/bench/runner.rs
Due: clang-format-local

Promote Nsight Compute to first-class --profile ncu
  README.md
  src/bench/inc/ProfilerNsight.hpp
  src/bench/src/ProfilerNsight.cu
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Add PERF_GUARD, PERF_TEST_F/P aliases; keep UB_ names
  README.md
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfTestMacros.hpp
Due: clang-format-local, iwyu-local
