Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Assert only what the multi-device samples measure
  src/bench/ptst/gpu/GpuMultiDevice_pTest.cu
Due: clang-format-local

Stop a gperf capture from the profiler that started it
  CHANGELOG.md
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerGperfLifecycle_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 03 with an ncu bank-conflict check; recapture walkthrough 12
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
  src/bench/demo/gpu/03_SharedMemoryOpt_Demo.cu
  src/bench/demo/gpu/03_SharedMemoryOpt_Transpose.cu
  src/bench/demo/gpu/03_SharedMemoryOpt_Transpose.cuh
  src/bench/demo/gpu/03_SharedMemoryOpt_Workload.hpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflictsReport_uTest.cpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_Check.hpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_BankConflicts_uTest.cpp
  src/bench/demo/gpu/utst/03_SharedMemoryOpt_uTest.cu
  src/bench/demo/reference/thor/12_shared_memory_opt.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Describe walkthrough 15's write rule and clang's line 27 report
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: none

Check the shared-memory transposes in full; retire the bank cases
  src/bench/ptst/gpu/GpuSharedMemory_pTest.cu
Due: clang-format-local

Name the built sample executables in mk/test.mk; drop stale notes
  mk/test.mk
  src/bench/ptst/gpu/GpuMemoryCoalescing_pTest.cu
  src/bench/ptst/gpu/GpuMultiDevice_pTest.cu
  src/bench/ptst/gpu/GpuSharedMemory_pTest.cu
  src/bench/ptst/gpu/GpuUnifiedMemory_pTest.cu
Due: clang-format-local

Refuse a gperf mode word that is not cpu, heap or both
  CHANGELOG.md
  src/bench/inc/ProfilerGperf.hpp
  src/bench/inc/ValgrindTool.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessFixtureRun_uTest.cpp
Due: clang-format-local, iwyu-local

Make withDeviceId() measure on the device it names
  CHANGELOG.md
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, iwyu-local

Fail a gperf capture that does not start or leaves no profile
  CHANGELOG.md
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerGperfLifecycle_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Check how perf ends after SIGINT and that its report counted
  CHANGELOG.md
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/ProfilerPerfLifecycle_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_perf.sh
Due: clang-format-local, iwyu-local

Make one profile request of bench run's and forwarded flags
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/tests/bench.rs
Due: none

Require the doctor's selected row to answer the request
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/workflow.rs
  tools/rust/tests/bench.rs
Due: none

Count compute-sanitizer's total, not its print-limit line
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
Due: none

Rebuild demo 04 on SAXPY for Compute Sanitizer; recapture walkthrough 17
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Unguarded.cu
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Unguarded.hpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Check.hpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_Report_uTest.cpp
  src/bench/demo/gpu/utst/04_ComputeSanitizerProfiler_uTest.cpp
  src/bench/demo/helpers/SkipUnlessUnderComputeSanitizer.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderComputeSanitizer_uTest.cpp
  src/bench/demo/reference/thor/17_compute_sanitizer.csv
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerComputeSanitizer.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerComputeSanitizerSession_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Skip the valgrind demo checks only where valgrind could not check
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_Check.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/examples/join/utst/CMakeLists.txt
  src/bench/demo/examples/join/utst/CallgrindRuns.hpp
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
  src/bench/utst/CallgrindWindowReaderAssertion_fake_valgrind.sh
  src/bench/utst/CallgrindWindowReaderAssertion_test.cmake
  src/bench/utst/ValgrindReaderAssertion.hpp
  src/bench/utst/ValgrindReaderAssertionCli.cpp
  src/bench/utst/ValgrindReaderAssertion_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Run bench validate's version probes as owned runs
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/validate.rs
  tools/rust/tests/bench.rs
Due: none

Complete a bpftrace capture only when its tracer exits cleanly
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, iwyu-local

Say what the capture window bounds and drop the page's test count
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/src/ProfilerBpftrace.cpp
Due: clang-format-local, iwyu-local

Close the CUPTI window when a GPU measurement throws; test restoration
  CHANGELOG.md
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local

Refuse a request in a profiler's own constructor as the registry does
  CHANGELOG.md
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/inc/ProfilerGperf.hpp
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/inc/ProfilerHelgrind.hpp
  src/bench/inc/ProfilerMassif.hpp
  src/bench/inc/ProfilerMemcheck.hpp
  src/bench/inc/ProfilerPerf.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/inc/ProfilerRocprof.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/src/ProfilerHelgrind.cpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/src/ProfilerRocprof.cpp
  src/bench/utst/ProfilerArtifactDir_uTest.cpp
  src/bench/utst/ProfilerWrapChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Name the SAXPY example's test program in walkthrough 19
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
Due: none

Let the sudo-kill test's child take SIGTERM, and bound its wait
  src/bench/utst/ProfilerEnv_uTest.cpp
Due: clang-format-local, iwyu-local

Rebuild the NVTX demo on SAXPY's three phases; recapture walkthrough 13
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/10_NvtxAnnotation_Demo.cpp
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/gpu/05_NvtxAnnotation_Demo.cu
  src/bench/demo/gpu/05_NvtxAnnotation_Phases.hpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Check.hpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_RangesReport_uTest.cpp
  src/bench/demo/gpu/utst/05_NvtxAnnotation_Ranges_uTest.cpp
  src/bench/demo/reference/thor/13_nvtx_annotation.csv
  src/bench/utst/CMakeLists.txt
  src/bench/utst/NvtxRangeRecorder.cpp
  src/bench/utst/NvtxRangeRecorder.hpp
  src/bench/utst/ProfilerNsightRange_uTest.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Restate the profiling release notes as change and migration
  CHANGELOG.md
  src/bench/inc/Profiler.hpp
Due: clang-format-local, iwyu-local

Publish every completed measurement as its own CSV row
  CHANGELOG.md
  docker/base.Dockerfile
  docker/dev/cuda.Dockerfile
  src/bench/inc/PerfAbi.hpp
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/inc/Profiler.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfAbi_uTest.cpp
  src/bench/utst/PerfCsv_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/PerfListener_uTest.cpp
  src/bench/utst/PerfRegistry_uTest.cpp
  src/bench/utst/measurement_rows/CMakeLists.txt
  src/bench/utst/measurement_rows/MeasurementRows_uTest.cpp
  src/bench/utst/measurement_rows/cargo_test.sh
  src/bench/utst/measurement_rows/fixtures/MeasurementRowsProbe.cpp
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Destroy the stream and events a failed GPU device setup made
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CudaHandleRecorder.cpp
  src/bench/utst/CudaHandleRecorder.hpp
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name compute-sanitizer's log whole in bench run's wrap
  tools/README.md
  tools/rust/src/bench/runner.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/profile_routes.tsv
Due: none

Forward recorder calls under the symbol the CUDA headers select
  src/bench/utst/CudaHandleRecorder.cpp
  src/bench/utst/CudaHandleRecorder.hpp
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, iwyu-local

Recapture walkthroughs 12, 13 and 17 where the merge changed them
  src/bench/demo/docs/12_SHARED_MEMORY_OPT.md
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
Due: none
