Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Recapture walkthrough 15 on the Pi rig after the check's move
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/reference/pi4/15_memcheck_profiler.csv
Due: none

Skip the callgrind checks where a sanitizer build defeats them
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/CallgrindRuns.hpp
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fail the filter's branch tests on a zero count from a counter that ran
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/examples/utst/HardwareCounter.hpp
Due: clang-format-local, iwyu-local

Say what counting costs and when a count is an estimate; state what held
  CHANGELOG.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/examples/filter/inc/Filter.hpp
Due: clang-format-local, iwyu-local

Check that perf record finished before walkthrough 02 reads its report
  CHANGELOG.md
  src/bench/demo/docs/02_PERF_PROFILER.md
Due: none

Shorten demo 02's changelog entry to the change and what to migrate
  CHANGELOG.md
Due: none

Shorten the release notes for demo 07 and the wrap hint
  CHANGELOG.md
Due: none

Shorten demo 12's release note and the sanitizer skip's comment
  CHANGELOG.md
  src/bench/demo/helpers/SkipUnlessUnderValgrind.hpp
Due: clang-format-local, iwyu-local

Condense the sanitizer comments of the callgrind checks
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/utst/CallgrindWindowProbe_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Reduce page 05 to a pointer to walkthrough 02's filter example
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
Due: none

Say why walkthrough 15's reference records the host name pi4
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: none

Remove the retired branch-optimization page and index entry
  src/bench/demo/README.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
Due: none

Align the demo index table after removing its retired row
  src/bench/demo/README.md
Due: none

Teach perf counters with shared join and filter examples
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/02_PerfProfiler_Demo.cpp
  src/bench/demo/cpu/05_BranchOptimization_Demo.cpp
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/filter/inc/Filter.hpp
  src/bench/demo/examples/filter/src/Filter.cpp
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/examples/utst/HardwareCounter.hpp
  src/bench/demo/helpers/DemoWorkloads.hpp
  src/bench/demo/reference/pi4/02_perf_profiler.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the callgrind walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/CallgrindRuns.hpp
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/demo/helpers/DemoWorkloads.hpp
  src/bench/demo/reference/pi4/07_callgrind_profiler.csv
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe.cpp
  src/bench/utst/CallgrindWindowProbe_test.cmake
  src/bench/utst/CallgrindWindowTotals_fake_valgrind.sh
  src/bench/utst/CallgrindWindowTotals_test.cmake
  src/bench/utst/StartupFaultUnderValgrind.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the memcheck walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_OffByOne.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_OffByOne.hpp
  src/bench/demo/cpu/12_MemcheckProfiler_Workload.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/helpers/SkipUnlessUnderValgrind.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderValgrind_uTest.cpp
  src/bench/demo/reference/pi4/15_memcheck_profiler.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Shorten the profiler readiness release notes
  CHANGELOG.md
Due: none

State the BPF guide's alias precedence as the decision applies it
  src/bench/docs/BPF_SCRIPTS.md
Due: none

Remove unused data generators from the demo workloads
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, iwyu-local

Retire demo 04 and its cache-layout walkthrough
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/04_CacheFriendly_Demo.cpp
  src/bench/demo/docs/04_CACHE_FRIENDLY.md
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 06 on the join example shared between threads
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/06_ThreadScaling_Demo.cpp
  src/bench/demo/cpu/06_ThreadScaling_Totals.hpp
  src/bench/demo/cpu/utst/06_ThreadScaling_uTest.cpp
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Mark contentionRun's start gate for helgrind
  CHANGELOG.md
  src/bench/inc/PerfUtils.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/StartGateHelgrind_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Decide each profiler request once, for the doctor and the run (part A)
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/Profiler.hpp
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerGperf.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/inc/ProfilerPerf.hpp
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerArtifactDir_uTest.cpp
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/ProfilerRegistry_uTest.cpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/ReadinessFixtures.hpp
  src/bench/utst/fixtures/readiness/ReadinessFixtureTarget.cpp
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
  src/bench/utst/fixtures/readiness/fake_helper.sh
  src/bench/utst/fixtures/readiness/fake_kill.sh
  src/bench/utst/fixtures/readiness/fake_perf.sh
  src/bench/utst/fixtures/readiness/fake_pprof.sh
  src/bench/utst/fixtures/readiness/fake_sudo.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 14 on the join example with a race helgrind finds
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/14_HelgrindProfiler_Demo.cpp
  src/bench/demo/cpu/14_HelgrindProfiler_Racy.cpp
  src/bench/demo/cpu/14_HelgrindProfiler_Racy.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_Check.hpp
  src/bench/demo/cpu/utst/14_HelgrindProfiler_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the thread-scaling walkthrough from a run on the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/06_THREAD_SCALING.md
  src/bench/demo/reference/pi4/06_thread_scaling.csv
Due: none

Move demo 11's peak-heap check out of the demo
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/JoinPeakHeap_uTest.cpp
  src/bench/demo/reference/pi4/14_massif_profiler.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the helgrind walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/20_HELGRIND_PROFILER.md
  src/bench/demo/reference/pi4/20_helgrind_profiler.csv
Due: none

Let the allocation checks build under clang's thread sanitizer
  CHANGELOG.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/join/utst/AllocationCounting.hpp
  src/bench/demo/examples/join/utst/JoinPeakHeap_uTest.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, iwyu-local

Move demo 01's speedup check out of the demo
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/cpu/01_BasicWorkflow_Demo.cpp
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/JoinSpeedup_pTest.cpp
  src/bench/demo/reference/pi4/01_basic_workflow.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Decide the CUPTI stand-down with the shared parser and snapshot
  src/bench/inc/ProfilerEnv.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CuptiCollectorDecision_uTest.cpp
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/ReadinessFixtures.hpp
  src/bench/utst/ScopedEnv.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Correct walkthrough 16's See Also entry for walkthrough 06
  src/bench/demo/docs/16_OFFCPU_PROFILER.md
Due: none

Recapture walkthrough 11's Nsight steps on the final tree
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
Due: none

Keep the timing test's replacement operator new out of line
  src/bench/demo/gpu/utst/02_NsightProfiler_Timing_uTest.cpp
Due: clang-format-local, iwyu-local

Find the bundled bpftrace scripts from any working directory
  CHANGELOG.md
  src/bench/CMakeLists.txt
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Move demo 03's attribution check out of the demo
  CHANGELOG.md
  src/bench/demo/cpu/03_GperfProfiler_Demo.cpp
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/GperfProfiles.hpp
  src/bench/demo/examples/join/utst/JoinProfileAttribution_pTest.cpp
  src/bench/demo/reference/pi4/03_gperf_profiler.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Parse --bpf-scripts into PERF_BPF_SCRIPTS
  CHANGELOG.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/PerfConfig.hpp
  src/bench/utst/PerfConfig_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

End the off-CPU trace when the benchmark's main thread exits
  CHANGELOG.md
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Take a bpftrace script path with or without its .bt suffix
  CHANGELOG.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Correct walkthrough 06's per-thread reading; shorten demo 06's note
  CHANGELOG.md
  src/bench/demo/docs/06_THREAD_SCALING.md
Due: none

Write a bpftrace run's files into its capture folder
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
Due: clang-format-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
