Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Bound every readiness probe by its own self-exit and wait it out
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Skip a Python virtual environment at any depth in the format lane
  .pre-commit-config.yaml
  CHANGELOG.md
  mk/format.mk
Due: none

Release demo 02's timing stream and events when a throw unwinds
  src/bench/demo/CMakeLists.txt
  src/bench/demo/examples/saxpy/utst/fake_cuda/cuda_runtime.h
  src/bench/demo/gpu/02_NsightProfiler_Demo.cu
  src/bench/demo/gpu/02_NsightProfiler_Timing.cpp
  src/bench/demo/gpu/02_NsightProfiler_Timing.hpp
  src/bench/demo/gpu/utst/02_NsightProfiler_Timing_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Quote the folder and arguments in the printed Nsight wrap
  CHANGELOG.md
  src/bench/src/ProfilerNsight.cu
  src/bench/utst/ProfilerNsight_uTest.cpp
Due: clang-format-local, iwyu-local

Let only the instruction check's own skip line mark it skipped
  src/bench/demo/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Read VERNIER_DISABLE_CUPTI as a boolean and reject other values
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CuptiCollectorDecision_uTest.cpp
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/fake_cupti/cupti.h
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fail the gate on a baseline that does not build; report only this run
  src/bench/docs/CI_CD_INTEGRATION.md
Due: none

Say what a GPU gate compares, and choose thresholds from unchanged runs
  src/bench/docs/CI_CD_INTEGRATION.md
Due: none

State the watchdog's uncovered runs wherever its coverage is stated
  README.md
  src/bench/docs/API_REFERENCE.md
Due: none

Make nsight-parse read saved reports and fail when it cannot
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  tools/README.md
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
  tools/py/tests/fixtures/nsight/README.md
  tools/py/tests/fixtures/nsight/ncu_import_damaged.out
  tools/py/tests/fixtures/nsight/ncu_import_per_kernel.out
  tools/py/tests/fixtures/nsight/ncu_without_import.out
  tools/py/tests/fixtures/nsight/nsys_stats_beside_runner_export.err
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_api_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_kern_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_size_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_cuda_gpu_mem_time_sum.out
  tools/py/tests/fixtures/nsight/nsys_stats_no_kernels.out
  tools/py/tests/test_nsight_parser.py
Due: none

Restore GPU persistence mode in the Thor rig procedure
  CHANGELOG.md
  src/bench/demo/docs/11_NSIGHT_PROFILER.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Skip the startup-fault checks only on valgrind's own give-up
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/07_CallgrindProfiler_Check.hpp
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the gperf walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/03_GperfProfiler_Check.hpp
  src/bench/demo/cpu/03_GperfProfiler_Demo.cpp
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/helpers/DemoWorkloads.hpp
  src/bench/demo/reference/pi4/03_gperf_profiler.csv
  src/bench/docs/rigs/RIG_PI4.md
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Stop make verify's Python lane replacing a host-built .venv
  .github/workflows/ci.yml
  CHANGELOG.md
  mk/verify.mk
Due: none

Check demo 15's answers with the join example's joinedSize()
  CHANGELOG.md
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, iwyu-local

Replace the whole scalar allocation family in the timing test
  src/bench/demo/gpu/utst/02_NsightProfiler_Timing_uTest.cpp
Due: clang-format-local, iwyu-local

Attempt every restoration in the Thor rig procedure
  CHANGELOG.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Stop make verify's C++ lane replacing a host-built .venv
  .github/workflows/ci.yml
  CHANGELOG.md
  mk/verify.mk
Due: none

Align the Docker, CI, profiling and README guides with what the code does
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/docs/CI_CD_INTEGRATION.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/inc/PerfConfig.hpp
  src/bench/ptst/cpu/Profilers_pTest.cpp
  src/bench/src/ProfilerGperf.cpp
  tools/README.md
Due: clang-format-local, iwyu-local

Add a demo helper that skips a case unless it runs under valgrind
  src/bench/demo/CMakeLists.txt
  src/bench/demo/helpers/SkipUnlessUnderValgrind.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderValgrind_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild demo 12 on the join example with a bug memcheck finds
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_OffByOne.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_OffByOne.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add the filter example and a hardware-counter helper for the demos
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/filter/inc/Filter.hpp
  src/bench/demo/examples/filter/src/Filter.cpp
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/helpers/HardwareCounter.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite the memcheck walkthrough on the join example from the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/reference/pi4/15_memcheck_profiler.csv
Due: none

Rebuild demo 02 on the join and filter examples with counter checks
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/02_PerfProfiler_Demo.cpp
  src/bench/demo/cpu/05_BranchOptimization_Demo.cpp
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite walkthrough 02 from a Pi 4 rig capture; point page 05 at it
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/reference/pi4/02_perf_profiler.csv
Due: none

Skip the demos' valgrind runs in a build with a sanitizer
  CHANGELOG.md
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/helpers/SkipUnlessUnderValgrind.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderValgrind_uTest.cpp
Due: clang-format-local, iwyu-local

Rewrite the massif walkthrough on the join example from the Pi rig
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  mk/format.mk
  mk/verify.mk
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/examples/join/src/Join.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/reference/pi4/14_massif_profiler.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name the later rig run outside walkthrough 15's stated spread
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: none

Check demo 07's join results with the example's joinedSize()
  CHANGELOG.md
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
Due: clang-format-local, iwyu-local

Refuse a hardware-counter reading whose counter did not run
  src/bench/demo/cpu/02_PerfProfiler_Demo.cpp
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/helpers/HardwareCounter.hpp
Due: clang-format-local, iwyu-local

Join a counting test's skip reasons; say on the page when it skips
  CHANGELOG.md
  src/bench/demo/cpu/02_PerfProfiler_Demo.cpp
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/helpers/HardwareCounter.hpp
Due: clang-format-local, iwyu-local

Fail the window tests on a missing or invalid instruction total
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe_test.cmake
  src/bench/utst/CallgrindWindowTotals_fake_valgrind.sh
  src/bench/utst/CallgrindWindowTotals_test.cmake
Due: cmake-format-local, cmake-lint-local

Use the join example's joinedSize in demo 12
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
Due: clang-format-local, iwyu-local

Skip demo 12's memcheck check where valgrind reads no symbols
  CHANGELOG.md
  src/bench/demo/cpu/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: clang-format-local, iwyu-local

Move demo 12's memcheck check into a test program of its own
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_Workload.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Hold demo 12's no-symbols skip to valgrind and the report agreeing
  src/bench/demo/cpu/utst/12_MemcheckProfiler_Check.hpp
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
Due: clang-format-local, iwyu-local

Move demo 07's instruction check into the join example's tests
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/07_CallgrindProfiler_Demo.cpp
  src/bench/demo/docs/07_CALLGRIND_PROFILER.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/utst/CallgrindRuns.hpp
  src/bench/demo/examples/join/utst/JoinInstructionCounts.cpp
  src/bench/demo/reference/pi4/07_callgrind_profiler.csv
  src/bench/utst/StartupFaultUnderValgrind.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Move demo 02's counter checks into the examples' unit tests
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/02_PerfProfiler_Demo.cpp
  src/bench/demo/docs/05_BRANCH_OPTIMIZATION.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/filter/utst/Filter_uTest.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/examples/utst/HardwareCounter.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Recapture walkthrough 02 on the demo without its counter checks
  src/bench/demo/docs/02_PERF_PROFILER.md
  src/bench/demo/reference/pi4/02_perf_profiler.csv
Due: none

Scope the valgrind tests' sanitizer skip to the builds observed
  CHANGELOG.md
  src/bench/demo/cpu/utst/12_MemcheckProfiler_uTest.cpp
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/helpers/SkipUnlessUnderValgrind.hpp
  src/bench/demo/helpers/utst/SkipUnlessUnderValgrind_uTest.cpp
Due: clang-format-local, iwyu-local
