Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

FetchContent compatibility for downstream consumers
  CMakeLists.txt
  cmake/vernier/Targets.cmake
  cmake/vernier/Tooling.cmake
  src/bench/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Add CMake-driven tool builds with VERNIER_BUILD_TOOLS option
  .github/workflows/ci.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/vernier/Summary.cmake
  mk/build.mk
  mk/tools.mk
  tools/CMakeLists.txt
  tools/py/tests/__init__.py
  tools/py/tests/test_bench_plot.py
Due: cmake-format-local, cmake-lint-local

Move tool build stamps out of output directories
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Fix .env variable escaping in tools env helper
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Harden build infrastructure from cross-project findings
  CMakeLists.txt
  ExternalDependencies.cmake
  mk/build.mk
Due: cmake-format-local, cmake-lint-local

Scope cpp_tools aggregate target with PROJECT_NAME
  cmake/vernier/Targets.cmake
  mk/tools.mk
Due: cmake-format-local, cmake-lint-local

Add GPU CLI tools and runtime performance monitor
  src/CMakeLists.txt
  src/bench/docs/GPU_GUIDE.md
  src/monitor/CMakeLists.txt
  src/monitor/inc/Monitor.hpp
  src/monitor/inc/MonitorConfig.hpp
  src/monitor/inc/MonitorConsoleSink.hpp
  src/monitor/inc/MonitorFileSink.hpp
  src/monitor/inc/MonitorQueue.hpp
  src/monitor/inc/MonitorScopeGuard.hpp
  src/monitor/inc/MonitorSink.hpp
  src/monitor/inc/MonitorSummary.hpp
  src/monitor/inc/MonitorTag.hpp
  src/monitor/inc/VernierMonitor.hpp
  src/monitor/src/MonitorFileSink.cpp
  src/monitor/utst/CMakeLists.txt
  src/monitor/utst/MonitorQueue_uTest.cpp
  src/monitor/utst/MonitorSummary_uTest.cpp
  src/monitor/utst/MonitorTag_uTest.cpp
  src/monitor/utst/Monitor_uTest.cpp
  tools/README.md
  tools/rust/src/bench/gpu_env.rs
  tools/rust/src/bench/gpu_lock.rs
  tools/rust/src/bench/gpu_monitor.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/report.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Vernier v1.0.1
  CHANGELOG.md
  CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Add keepachangelog reference to CHANGELOG
  CHANGELOG.md
Due: none

Rename UID/GID build args to HOST_UID/HOST_GID
  docker-compose.yml
  docker/base.Dockerfile
  docker/builder/cpu.Dockerfile
  docker/builder/cuda.Dockerfile
  docker/builder/jetson.Dockerfile
  docker/builder/riscv64.Dockerfile
  docker/builder/rpi.Dockerfile
  docker/dev/cpu.Dockerfile
  docker/dev/cuda.Dockerfile
  docker/dev/jetson.Dockerfile
  docker/dev/riscv64.Dockerfile
  docker/dev/rpi.Dockerfile
  docker/toolchain/aarch64.Dockerfile
  docker/toolchain/riscv64.Dockerfile
  docker/toolchain/rpi.Dockerfile
  mk/docker.mk
Due: hadolint-local

Publish dev images to ghcr.io on Dockerfile change
  .github/workflows/docker-images.yml
Due: none

Pull cached dev images from ghcr.io in CI and release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Skip CI on docs-only changes
  .github/workflows/ci.yml
Due: none

Parallelize CI and persist ccache across runs
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

Speed up CI: ghcr image caching, parallel jobs, persistent ccache (#10)
  .github/workflows/ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/release.yml
  docker-compose.yml
  docker/base.Dockerfile
  docker/builder/cpu.Dockerfile
  docker/builder/cuda.Dockerfile
  docker/builder/jetson.Dockerfile
  docker/builder/riscv64.Dockerfile
  docker/builder/rpi.Dockerfile
  docker/dev/cpu.Dockerfile
  docker/dev/cuda.Dockerfile
  docker/dev/jetson.Dockerfile
  docker/dev/riscv64.Dockerfile
  docker/dev/rpi.Dockerfile
  docker/toolchain/aarch64.Dockerfile
  docker/toolchain/riscv64.Dockerfile
  docker/toolchain/rpi.Dockerfile
  mk/docker.mk
Due: hadolint-local

Refactor profiler dispatch to a self-registering backend registry
  src/bench/CMakeLists.txt
  src/bench/inc/Profiler.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRAPL.cpp
  src/bench/src/ProfilerRegistry.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add backend environment doctor to --profile-check
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRAPL.cpp
  src/bench/src/ProfilerRegistry.cpp
Due: clang-format-local, iwyu-local

Add NVTX scope annotation API and auto-inject in NsightProfiler
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/10_NvtxAnnotation_Demo.cpp
  src/bench/inc/Nvtx.hpp
  src/bench/inc/ProfilerNsight.hpp
  src/bench/src/ProfilerNsight.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add compute-sanitizer backend for GPU memory + race checking
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/inc/ProfilerComputeSanitizer.hpp
  src/bench/src/ProfilerComputeSanitizer.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add valgrind massif (heap) and memcheck (errors) backends
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/cpu/12_MemcheckProfiler_Demo.cpp
  src/bench/inc/ProfilerMassif.hpp
  src/bench/inc/ProfilerMemcheck.hpp
  src/bench/src/ProfilerMassif.cpp
  src/bench/src/ProfilerMemcheck.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add off-CPU profiling backend via bpftrace
  src/bench/CMakeLists.txt
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/13_OffCpuProfiler_Demo.cpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerOffCpu.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Tell improvement stories in new demos + add walkthrough docs
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
  src/bench/demo/cpu/13_OffCpuProfiler_Demo.cpp
  src/bench/demo/docs/13_NVTX_ANNOTATION.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/docs/15_MEMCHECK_PROFILER.md
  src/bench/demo/docs/16_OFFCPU_PROFILER.md
  src/bench/demo/docs/17_COMPUTE_SANITIZER.md
Due: clang-format-local, iwyu-local

Make callgrind and nsight Docker-aware
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/src/ProfilerNsight.cu
Due: clang-format-local, iwyu-local

Auto-attach GPU profiler hooks in UB_PERF_GPU_GUARD
  src/bench/demo/gpu/04_ComputeSanitizerProfiler_Demo.cu
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/ProfilerEnv.hpp
Due: clang-format-local, iwyu-local

Close four apex_csf API footguns
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/src/ProfilerPerf.cpp
Due: clang-format-local, iwyu-local

Surface GPU power draw and temperature in PerfGpuStats and CSV
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfGpuStats.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/PerfGpuHarness.cu
Due: clang-format-local, iwyu-local

Add SIGALRM-based per-test watchdog under --profile
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfHarness.hpp
Due: clang-format-local, iwyu-local

Auto-extract nsys stats reports after a --profile nsight run
  src/bench/inc/PerfTestMacros.hpp
  src/bench/inc/ProfilerNsight.hpp
  src/bench/src/ProfilerNsight.cu
Due: clang-format-local, iwyu-local

Contain gtest dependency to PERF_MAIN macro expansion sites
  src/bench/CMakeLists.txt
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfTestMacros.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Monitor Phase 4: gauge/increment macros, env-var config, guide, example
  src/monitor/CMakeLists.txt
  src/monitor/docs/MONITOR_GUIDE.md
  src/monitor/examples/CMakeLists.txt
  src/monitor/examples/MonitorEnvVarExample.cpp
  src/monitor/inc/Monitor.hpp
  src/monitor/inc/MonitorConfig.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Document drain loops, timeout traps, container CSV / artifact paths
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Add bench gpu-topo for GPU/CPU affinity recommendations
  tools/rust/src/bench/gpu_topo.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bin/bench.rs
Due: none

Add nsight-parse: turn .nsys-rep / .ncu-rep into a tidy CSV
  .github/workflows/ci.yml
  tools/py/pyproject.toml
  tools/py/src/vernier_tools/benchmarking/nsight_parser.py
  tools/py/tests/test_nsight_parser.py
Due: none

Capture in-process kernel metrics via CUPTI Activity API
  src/bench/CMakeLists.txt
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfGpuStats.hpp
  src/bench/inc/PerfRegistry.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add rocprof backend for AMD GPU profiling
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerRocprof.hpp
  src/bench/src/ProfilerRocprof.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add bench doctor / profile-all / profile-summarize subcommands
  src/bench/demo/docs/18_ROCPROF_PROFILER.md
  src/bench/demo/docs/19_CUPTI_KERNEL_METRICS.md
  src/bench/inc/PerfGpuMode.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfListener.hpp
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, iwyu-local

Fold PerfGpuMode flag into PerfGpuConfig
  src/bench/inc/PerfGpuConfig.hpp
  src/bench/inc/PerfGpuMode.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfListener.hpp
Due: clang-format-local, iwyu-local

Close the ticket: heaptrack + jemalloc backends, bench init / config
  src/bench/CMakeLists.txt
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/inc/ProfilerJemalloc.hpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/src/ProfilerJemalloc.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/src/ProfilerRocprof.cpp
  tools/rust/src/bench/config.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Bring the docs forward to the v1.0.2 surface
  CHANGELOG.md
  README.md
  src/bench/demo/README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  tools/README.md
Due: none

Drop internal phase numbering from changelog
  CHANGELOG.md
Due: none

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
