Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)

Auto-wrap jemalloc via LD_PRELOAD in bench run
  src/bench/src/ProfilerJemalloc.cpp
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Exec-probe perf in doctor instead of trusting PATH
  tools/rust/src/bench/validate.rs
Due: none

Add p99/p999 to Stats and the CSV schema
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfStats.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/utst/PerfCsv_uTest.cpp
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/csv_loader.rs
Due: clang-format-local, iwyu-local

Forward profile-args and profile-test-timeout in bench run
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: none

Gate CUPTI registration at construction, not just start
  src/bench/inc/CuptiCollector.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
Due: clang-format-local, iwyu-local

Force-overwrite Nsight reports on rerun
  src/bench/src/ProfilerNsight.cu
  tools/rust/src/bench/runner.rs
Due: clang-format-local

Adopt PERF_GUARD names across the guides
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/inc/ProfilerRegistry.hpp
Due: clang-format-local, iwyu-local

Single-flag Nsight profiling, jemalloc auto-wrap, doctor and API polish (#18)
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  src/bench/inc/CuptiCollector.hpp
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfGpuTestMacros.hpp
  src/bench/inc/PerfStats.hpp
  src/bench/inc/PerfTestMacros.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerNsight.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/CuptiCollector.cu
  src/bench/src/PerfGpuHarness.cu
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerJemalloc.cpp
  src/bench/src/ProfilerNsight.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfCsv_uTest.cpp
  src/bench/utst/ProfilerEnv_uTest.cpp
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/csv_loader.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/validate.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add BENCH_SUDO elevation; move offcpu onto sched tracepoints
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerEnv_uTest.cpp
Due: clang-format-local, iwyu-local

Add BENCH_SUDO elevation; move offcpu onto sched tracepoints (#19)
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/utst/ProfilerEnv_uTest.cpp
Due: clang-format-local, iwyu-local

Make the bpftrace backend portable and leak-proof under sudo
  src/bench/bpf/fsync_latency.bt
  src/bench/bpf/write_latency.bt
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
Due: clang-format-local, iwyu-local

Add sched-family sample scripts; note syscalls-tracepoint dependency
  src/bench/bpf/cpu_migrations.bt
  src/bench/bpf/fsync_latency.bt
  src/bench/bpf/wakeup_latency.bt
  src/bench/bpf/write_latency.bt
Due: none

Sync bpftrace demo walkthrough and guide to the shipped scripts
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/docs/CPU_GUIDE.md
Due: none

Portable bpftrace scripts and leak-proof sudo teardown (#20)
  src/bench/bpf/cpu_migrations.bt
  src/bench/bpf/fsync_latency.bt
  src/bench/bpf/wakeup_latency.bt
  src/bench/bpf/write_latency.bt
  src/bench/demo/docs/09_BPFTRACE_PROFILER.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
Due: clang-format-local, iwyu-local

Probe jemalloc honestly: multiarch paths and prof capability
  src/bench/demo/docs/22_JEMALLOC_PROFILER.md
  src/bench/src/ProfilerJemalloc.cpp
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Probe bpftrace viability with a tracepoint, not a kprobe
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
Due: clang-format-local, iwyu-local

Ask the loader itself whether jemalloc can preload
  src/bench/src/ProfilerJemalloc.cpp
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Doctor portability: honest jemalloc and bpftrace probes (#21)
  src/bench/demo/docs/22_JEMALLOC_PROFILER.md
  src/bench/inc/ProfilerEnv.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerJemalloc.cpp
  src/bench/src/ProfilerOffCpu.cpp
  tools/rust/src/bench/runner.rs
Due: clang-format-local, iwyu-local

Track rust sources in the tools build stamp
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Add make verify: every CI lane locally, pre-PR gate
  Makefile
  mk/verify.mk
Due: none

Local verification: make verify and rust source tracking (#22)
  Makefile
  mk/verify.mk
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Make metadata capture safe under concurrent publishers
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfMetadata_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Make metadata capture safe under concurrent publishers (#23)
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfMetadata_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Polish the sharp edges consumers actually hit
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRegistry.cpp
Due: clang-format-local, iwyu-local

Export the consumer include surface; fix consumer-scope rpath
  cmake/vernier/Targets.cmake
  src/bench/CMakeLists.txt
  src/monitor/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Ship the demo dependencies in the dev image
  docker/base.Dockerfile
Due: hadolint-local

Add the machine-readable twin of the profile check
  src/bench/inc/PerfConfig.hpp
Due: clang-format-local, iwyu-local

bench doctor learns --json and --require
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: none

Document doctor --json and --require where the doctor lives
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
Due: none

Realign the API reference table for prettier
  src/bench/docs/API_REFERENCE.md
Due: none

Note the nsys alias in the backend table
  src/bench/docs/ADVANCED_GUIDE.md
Due: none

bench doctor --json and --require (#25)
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/inc/PerfConfig.hpp
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, iwyu-local

Match the house child-exit and doc-comment idioms
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
Due: clang-format-local, iwyu-local

Consumer polish: the ten-lines claim made true (#24)
  cmake/vernier/Targets.cmake
  docker/base.Dockerfile
  src/bench/CMakeLists.txt
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/src/ProfilerRegistry.cpp
  src/monitor/CMakeLists.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

Forward --target-time through the runner and document it
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  tools/rust/src/bench/config.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: none

Auto-size measurement windows with --target-time
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfTargetTime_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Mention the target_time config key in the CLI docs
  tools/README.md
Due: none

Auto-size measurement windows: --target-time (#26)
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/PerfHarness.hpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfTargetTime_uTest.cpp
  tools/README.md
  tools/rust/src/bench/config.rs
  tools/rust/src/bench/runner.rs
  tools/rust/src/bench/workflow.rs
  tools/rust/src/bin/bench.rs
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Add reference rigs and the demo walkthrough template
  README.md
  src/bench/demo/README.md
  src/bench/demo/docs/TEMPLATE.md
  src/bench/docs/rigs/README.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none

Correct the rig build, lock scripts and demo contract
  src/bench/demo/README.md
  src/bench/demo/docs/TEMPLATE.md
  src/bench/docs/rigs/README.md
  src/bench/docs/rigs/RIG_PI4.md
  src/bench/docs/rigs/RIG_THOR_AGX.md
Due: none
