Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Write every CSV row with its file's column groups
  CHANGELOG.md
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Report a GPU round trip as the per-call wall time
  CHANGELOG.md
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, cmake-format-local, cmake-lint-local

Stop timing transfer legs a GPU test never declared
  CHANGELOG.md
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local

Share a suite's CPU baseline with its GPU tests
  CHANGELOG.md
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local

Build GPU result rows with the shared row builder
  CHANGELOG.md
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local

Share a suite's CPU baseline only while it is unambiguous
  CHANGELOG.md
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local, iwyu-local

Hold the CPU side of the row-alignment fix with a test
  CHANGELOG.md
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, iwyu-local

Bound the GPU round-trip test by the formula it guards
  src/bench/utst/PerfGpuHarness_uTest.cu
Due: clang-format-local

Rewrite walkthrough 01 and the demos README from a rig capture
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/reference/pi4/01_basic_workflow.csv
Due: none

Keep every monitor sample that is queued at stop
  CHANGELOG.md
  src/monitor/inc/Monitor.hpp
  src/monitor/utst/Monitor_uTest.cpp
Due: clang-format-local, iwyu-local

Label a comparison by its median change; refuse unusable input
  CHANGELOG.md
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/report.rs
  tools/rust/src/bench/stats.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_added_test.csv
  tools/rust/tests/fixtures/compare_disjoint.csv
  tools/rust/tests/fixtures/compare_duplicate_test.csv
  tools/rust/tests/fixtures/compare_missing_test.csv
  tools/rust/tests/fixtures/compare_non_finite.csv
  tools/rust/tests/fixtures/compare_quantile_baseline.csv
  tools/rust/tests/fixtures/compare_quantile_candidate.csv
  tools/rust/tests/fixtures/compare_renamed_test.csv
  tools/rust/tests/fixtures/compare_zero_median.csv
Due: none

Describe what bench compare compares
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/CPU_GUIDE.md
  tools/README.md
Due: none

Make a disabled monitor inert and the summary follow the console
  CHANGELOG.md
  src/monitor/inc/Monitor.hpp
  src/monitor/utst/Monitor_uTest.cpp
Due: clang-format-local, iwyu-local

Describe the monitor's real lifecycle, cost and output
  CHANGELOG.md
  README.md
  src/monitor/docs/MONITOR_GUIDE.md
  src/monitor/examples/CMakeLists.txt
  src/monitor/examples/MonitorEnvVarExample.cpp
  src/monitor/inc/Monitor.hpp
  src/monitor/inc/MonitorConfig.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild the Python tools wheel when its inputs change
  CHANGELOG.md
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Add the shared SAXPY example and rebuild the GPU demo on it
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/saxpy/inc/Saxpy.hpp
  src/bench/demo/examples/saxpy/src/SaxpyCpu.cpp
  src/bench/demo/examples/saxpy/src/SaxpyGpu.cu
  src/bench/demo/examples/saxpy/utst/Saxpy_uTest.cu
  src/bench/demo/gpu/01_GpuBasicWorkflow_Demo.cu
  src/bench/docs/GPU_GUIDE.md
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Name real binaries and matching filters in sample usage comments
  src/bench/ptst/cpu/AllocationOverhead_pTest.cpp
  src/bench/ptst/cpu/BranchPrediction_pTest.cpp
  src/bench/ptst/cpu/CacheEffects_pTest.cpp
  src/bench/ptst/cpu/CacheHierarchy_pTest.cpp
  src/bench/ptst/cpu/Contention_pTest.cpp
  src/bench/ptst/cpu/CoreFeatures_pTest.cpp
  src/bench/ptst/cpu/MeasuredAPI_pTest.cpp
  src/bench/ptst/cpu/MeasurementReliability_pTest.cpp
  src/bench/ptst/cpu/MemoryBandwidth_pTest.cpp
  src/bench/ptst/cpu/PayloadScaling_pTest.cpp
  src/bench/ptst/cpu/Profilers_pTest.cpp
  src/bench/ptst/cpu/SemanticMacros_pTest.cpp
  src/bench/ptst/cpu/ThreadScaling_pTest.cpp
  src/bench/ptst/gpu/GpuBandwidth_pTest.cu
  src/bench/ptst/gpu/GpuBasics_pTest.cu
  src/bench/ptst/gpu/GpuMemoryCoalescing_pTest.cu
  src/bench/ptst/gpu/GpuMemoryStrategies_pTest.cu
  src/bench/ptst/gpu/GpuMultiDevice_pTest.cu
  src/bench/ptst/gpu/GpuProfilers_pTest.cu
  src/bench/ptst/gpu/GpuSharedMemory_pTest.cu
  src/bench/ptst/gpu/GpuUnifiedMemory_pTest.cu
Due: clang-format-local, iwyu-local

Capture walkthrough 10 on the Thor with a reference run
  CHANGELOG.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/reference/thor/10_gpu_basic_workflow.csv
Due: none

Troubleshoot the ABI check, the old-ABI loader error, tool not found
  src/bench/docs/TROUBLESHOOTING.md
Due: none

List every PerfConfig member in the API reference, in struct order
  src/bench/docs/API_REFERENCE.md
Due: none

Explain how the dev images get perf and what a rebuild cannot fix
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Say where profile artifacts land under direct runs and bench run
  src/bench/docs/TROUBLESHOOTING.md
Due: none

State the round trip's full spread and the discrete-GPU case
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/gpu/01_GpuBasicWorkflow_Demo.cu
Due: clang-format-local

Install headers at their source paths and export both include roots
  CHANGELOG.md
  README.md
  cmake/vernier/Targets.cmake
  cmake/vernierConfig.cmake.in
  src/bench/CMakeLists.txt
  src/bench/utst/CMakeLists.txt
  src/bench/utst/InstallConsumer/BenchConsumer.cpp
  src/bench/utst/InstallConsumer/CMakeLists.txt
  src/bench/utst/InstallConsumer/MonitorConsumer.cpp
  src/bench/utst/InstallConsumer_test.cmake
  src/bench/utst/InstallConsumers.cmake
  src/monitor/CMakeLists.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Say perf stat works as root and is refused for the default user
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Include Perf.hpp in the GPU quick start so it compiles
  src/bench/docs/GPU_GUIDE.md
Due: none

Separate the observed speedup from the guard in the demos README
  src/bench/demo/README.md
Due: none

List the values the monitor's environment switches treat as false
  src/monitor/docs/MONITOR_GUIDE.md
Due: none

State the scheduling assumption behind the monitor drain test
  src/monitor/utst/Monitor_uTest.cpp
Due: clang-format-local, iwyu-local

Rebuild the Python tools wheel when its embedded README changes
  CHANGELOG.md
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Walkthrough 01 on a shared join example, captured on the Pi rig (#34)
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/01_BasicWorkflow_Demo.cpp
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/examples/join/src/Join.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
  src/bench/demo/reference/pi4/01_basic_workflow.csv
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Refuse a compared field the CSV does not hold as a number
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/csv_loader.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_cv_absent.csv
  tools/rust/tests/fixtures/compare_cv_blank.csv
  tools/rust/tests/fixtures/compare_cv_malformed.csv
  tools/rust/tests/fixtures/compare_cv_zero.csv
  tools/rust/tests/fixtures/compare_median_absent.csv
  tools/rust/tests/fixtures/compare_median_blank.csv
  tools/rust/tests/fixtures/compare_median_malformed.csv
Due: none

Fix the monitor drain loss; make its lifecycle match the guide (#36)
  CHANGELOG.md
  README.md
  src/monitor/docs/MONITOR_GUIDE.md
  src/monitor/examples/CMakeLists.txt
  src/monitor/examples/MonitorEnvVarExample.cpp
  src/monitor/inc/Monitor.hpp
  src/monitor/inc/MonitorConfig.hpp
  src/monitor/utst/Monitor_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild the Python tools wheel when its build commands change
  CHANGELOG.md
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

Hold the threshold boundary for decimal medians
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/compare.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_boundary_at.csv
  tools/rust/tests/fixtures/compare_boundary_baseline.csv
  tools/rust/tests/fixtures/compare_boundary_inside.csv
  tools/rust/tests/fixtures/compare_boundary_outside.csv
  tools/rust/tests/fixtures/compare_boundary_tiny.csv
Due: none

Refuse a percentage change too large to represent
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/compare.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_extreme_large.csv
  tools/rust/tests/fixtures/compare_extreme_small.csv
Due: none

Scope the perf uid example to the tested host's non-root user
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Correct the sample usage comments and consumer troubleshooting (#39)
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/DOCKER_SETUP.md
  src/bench/docs/TROUBLESHOOTING.md
  src/bench/ptst/cpu/AllocationOverhead_pTest.cpp
  src/bench/ptst/cpu/BranchPrediction_pTest.cpp
  src/bench/ptst/cpu/CacheEffects_pTest.cpp
  src/bench/ptst/cpu/CacheHierarchy_pTest.cpp
  src/bench/ptst/cpu/Contention_pTest.cpp
  src/bench/ptst/cpu/CoreFeatures_pTest.cpp
  src/bench/ptst/cpu/MeasuredAPI_pTest.cpp
  src/bench/ptst/cpu/MeasurementReliability_pTest.cpp
  src/bench/ptst/cpu/MemoryBandwidth_pTest.cpp
  src/bench/ptst/cpu/PayloadScaling_pTest.cpp
  src/bench/ptst/cpu/Profilers_pTest.cpp
  src/bench/ptst/cpu/SemanticMacros_pTest.cpp
  src/bench/ptst/cpu/ThreadScaling_pTest.cpp
  src/bench/ptst/gpu/GpuBandwidth_pTest.cu
  src/bench/ptst/gpu/GpuBasics_pTest.cu
  src/bench/ptst/gpu/GpuMemoryCoalescing_pTest.cu
  src/bench/ptst/gpu/GpuMemoryStrategies_pTest.cu
  src/bench/ptst/gpu/GpuMultiDevice_pTest.cu
  src/bench/ptst/gpu/GpuProfilers_pTest.cu
  src/bench/ptst/gpu/GpuSharedMemory_pTest.cu
  src/bench/ptst/gpu/GpuUnifiedMemory_pTest.cu
Due: clang-format-local, iwyu-local

Make GoogleTest a public usage requirement of vernier::bench
  CHANGELOG.md
  README.md
  cmake/vernierConfig.cmake.in
  src/bench/CMakeLists.txt
  src/bench/utst/CMakeLists.txt
  src/bench/utst/InstallConsumer/CMakeLists.txt
  src/bench/utst/InstallConsumer_test.cmake
Due: cmake-format-local, cmake-lint-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
