Repository apexedgesystems/vernier: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-local, cmake-format-local, cmake-lint-local, hadolint-local, iwyu-local

clang-format-local:
  name: clang-format (local)
  entry: clang-format -i
  language: system

cmake-format-local:
  name: cmake-format (local)
  entry: cmake-format -i
  language: system

cmake-lint-local:
  name: cmake-lint (local)
  entry: cmake-lint
  language: system

hadolint-local:
  name: hadolint (local)
  entry: hadolint
  language: system

iwyu-local:
  name: include-what-you-use (local)
  language: system
  pass_filenames: false
  entry: bash -lc 'command -v iwyu_tool.py >/dev/null 2>&1 || { echo "iwyu_tool.py not found, skipping"; exit 0; }; iwyu_tool.py -p "${BUILD_DIR:-build}" --max-threads=0 --quiet'

Give the SAXPY GPU versions scoped owners for what they acquire
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/saxpy/inc/Saxpy.hpp
  src/bench/demo/examples/saxpy/src/SaxpyGpu.cpp
  src/bench/demo/examples/saxpy/src/SaxpyGpu.cu
  src/bench/demo/examples/saxpy/src/SaxpyKernel.cu
  src/bench/demo/examples/saxpy/utst/SaxpyOwnership_uTest.cpp
  src/bench/demo/examples/saxpy/utst/fake_cuda/cuda_runtime.h
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Fill the transfer demo's device inputs before its warmup
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/gpu/01_GpuBasicWorkflow_Demo.cu
Due: clang-format-local

Refuse a GoogleTest without GTest::gtest in find_package(vernier)
  CHANGELOG.md
  README.md
  cmake/vernierConfig.cmake.in
  src/bench/utst/InstallConsumer_test.cmake
Due: cmake-format-local, cmake-lint-local

Link walkthrough 10's kernel listing to the file now holding it
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
Due: none

Add a shared readiness core for profiler prerequisites
  src/bench/CMakeLists.txt
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/ReadinessFixtures.hpp
  src/bench/utst/fixtures/readiness/fake_helper.sh
  src/bench/utst/fixtures/readiness/fake_kill.sh
  src/bench/utst/fixtures/readiness/fake_sudo.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Route doctor rows and profiler construction through one decision
  CHANGELOG.md
  src/bench/inc/PerfConfig.hpp
  src/bench/inc/Profiler.hpp
  src/bench/inc/ProfilerRegistry.hpp
  src/bench/src/ProfilerRegistry.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerRegistry_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/ReadinessFixtureTarget.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Make BENCH_SUDO the only elevation opt-in for bpftrace and offcpu
  CHANGELOG.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/inc/ProfilerBpftrace.hpp
  src/bench/inc/ProfilerEnv.hpp
  src/bench/inc/ProfilerOffCpu.hpp
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerBpftrace.cpp
  src/bench/src/ProfilerOffCpu.cpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/ProfilerEnv_uTest.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_bpftrace.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Install headers at their source paths and export both include roots (#40)
  CHANGELOG.md
  README.md
  cmake/vernier/Targets.cmake
  cmake/vernierConfig.cmake.in
  src/bench/CMakeLists.txt
  src/bench/utst/CMakeLists.txt
  src/bench/utst/InstallConsumer/BenchConsumer.cpp
  src/bench/utst/InstallConsumer/CMakeLists.txt
  src/bench/utst/InstallConsumer/MonitorConsumer.cpp
  src/bench/utst/InstallConsumer_test.cmake
  src/bench/utst/InstallConsumers.cmake
  src/monitor/CMakeLists.txt
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild the Python tools wheel when any of its inputs change (#37)
  CHANGELOG.md
  tools/CMakeLists.txt
Due: cmake-format-local, cmake-lint-local

State walkthrough 10's round-trip CV as a within-run figure
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
Due: none

Probe perf's counter access instead of reading the sysctl
  CHANGELOG.md
  src/bench/inc/ProfilerPerf.hpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/ReadinessFixtures.hpp
  src/bench/utst/fixtures/readiness/fake_perf.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Refuse a summary value that is missing, unreadable or not finite
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/csv_loader.rs
  tools/rust/src/bench/mod.rs
  tools/rust/src/bench/report.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/summary_cv_infinite.csv
  tools/rust/tests/fixtures/summary_cycles_malformed.csv
  tools/rust/tests/fixtures/summary_gpu_rows.csv
  tools/rust/tests/fixtures/summary_left_out.csv
  tools/rust/tests/fixtures/summary_p10_malformed.csv
  tools/rust/tests/fixtures/summary_p90_not_finite.csv
  tools/rust/tests/fixtures/summary_stable_malformed.csv
  tools/rust/tests/fixtures/summary_throughput_absent.csv
  tools/rust/tests/fixtures/summary_throughput_blank.csv
  tools/rust/tests/fixtures/summary_throughput_infinite.csv
  tools/rust/tests/fixtures/summary_throughput_malformed.csv
  tools/rust/tests/fixtures/summary_zeros.csv
Due: none

Check the requested gperf mode and run the analyzer discovery found
  CHANGELOG.md
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_pprof.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Refuse a row whose test name is empty or only whitespace
  CHANGELOG.md
  tools/README.md
  tools/rust/src/bench/compare.rs
  tools/rust/src/bench/csv_loader.rs
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_name_blank.csv
  tools/rust/tests/fixtures/compare_name_empty.csv
  tools/rust/tests/fixtures/compare_name_padded.csv
  tools/rust/tests/fixtures/compare_no_test_column.csv
Due: none

Keep the rounding margin finite for any change
  tools/rust/src/bench/compare.rs
  tools/rust/tests/bench.rs
  tools/rust/tests/fixtures/compare_huge_baseline.csv
  tools/rust/tests/fixtures/compare_huge_candidate.csv
Due: none

Compile the gperf analysis helpers only where the analysis exists
  src/bench/src/ProfilerGperf.cpp
Due: clang-format-local, iwyu-local

Create an artifact folder only for a request that runs
  CHANGELOG.md
  src/bench/src/ProfilerGperf.cpp
  src/bench/src/ProfilerPerf.cpp
  src/bench/utst/ProfilerArtifactDir_uTest.cpp
Due: clang-format-local, iwyu-local

Pin the analysis-stage error and probe the chosen analyzer
  CHANGELOG.md
  src/bench/inc/ProfilerGperf.hpp
  src/bench/src/ProfilerGperf.cpp
  src/bench/utst/ProfilerReadinessChecks_uTest.cpp
  src/bench/utst/ProfilerRegistry_uTest.cpp
  src/bench/utst/ReadinessCli.cmake
  src/bench/utst/ReadinessCli_test.cmake
  src/bench/utst/fixtures/readiness/fake_pprof.sh
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Warn in bench doctor when tcmalloc hides allocations from heaptrack
  CHANGELOG.md
  src/bench/inc/ProfilerHeaptrack.hpp
  src/bench/src/ProfilerHeaptrack.cpp
  src/bench/utst/ProfilerTcmalloc_uTest.cpp
Due: clang-format-local, iwyu-local

Correct PERF_TEST_P, profiler-hook and bpf-script references
  README.md
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/BPF_SCRIPTS.md
  src/bench/ptst/cpu/Profilers_pTest.cpp
Due: clang-format-local, iwyu-local

Make the callgrind wrap hint record the measured window
  CHANGELOG.md
  src/bench/inc/ProfilerCallgrind.hpp
  src/bench/src/ProfilerCallgrind.cpp
  src/bench/utst/CMakeLists.txt
  src/bench/utst/CallgrindWindowProbe.cpp
  src/bench/utst/CallgrindWindowProbe_test.cmake
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Build demo 15 on the join example and guard its allocation counts
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/cpu/15_HeaptrackProfiler_Demo.cpp
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Show perf record mode wherever the guides read perf.data
  src/bench/docs/ADVANCED_GUIDE.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/TROUBLESHOOTING.md
  tools/README.md
Due: none

Say what the profiling watchdog covers and what a timeout of 0 means
  README.md
  src/bench/docs/API_REFERENCE.md
  src/bench/docs/TROUBLESHOOTING.md
Due: none

Put the introductory path on the Release preset; bind .env to its tree
  README.md
  src/bench/docs/CPU_GUIDE.md
  src/bench/docs/GPU_GUIDE.md
  tools/README.md
Due: none

Rebuild GPU demo 01 on a shared example; capture walkthrough 10 (#38)
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
  src/bench/demo/examples/CMakeLists.txt
  src/bench/demo/examples/saxpy/inc/Saxpy.hpp
  src/bench/demo/examples/saxpy/src/SaxpyCpu.cpp
  src/bench/demo/examples/saxpy/src/SaxpyGpu.cpp
  src/bench/demo/examples/saxpy/src/SaxpyKernel.cu
  src/bench/demo/examples/saxpy/utst/SaxpyOwnership_uTest.cpp
  src/bench/demo/examples/saxpy/utst/Saxpy_uTest.cu
  src/bench/demo/examples/saxpy/utst/fake_cuda/cuda_runtime.h
  src/bench/demo/gpu/01_GpuBasicWorkflow_Demo.cu
  src/bench/demo/reference/thor/10_gpu_basic_workflow.csv
  src/bench/docs/GPU_GUIDE.md
  src/bench/inc/PerfCsv.hpp
  src/bench/inc/PerfGpuHarness.hpp
  src/bench/inc/PerfListener.hpp
  src/bench/src/PerfGpuHarness.cu
  src/bench/utst/CMakeLists.txt
  src/bench/utst/PerfGpuHarness_uTest.cu
  src/bench/utst/PerfListener_uTest.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rebuild the Docker guide's recipes on Ubuntu 24.04 and one build tree
  src/bench/docs/DOCKER_SETUP.md
Due: none

Rewrite walkthrough 21 from a heaptrack capture on the Pi rig
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/reference/pi4/21_heaptrack_profiler.csv
Due: none

Say that a refused run --analyze keeps the run's own output
  CHANGELOG.md
  tools/rust/src/bin/bench.rs
  tools/rust/tests/bench.rs
Due: none

Build demo 03 on the join example and assert its profile
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/03_GperfProfiler_Demo.cpp
  src/bench/demo/examples/join/inc/Join.hpp
  src/bench/demo/helpers/DemoWorkloads.hpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Build demo 11 on the join example and guard its peak heap
  CHANGELOG.md
  src/bench/demo/CMakeLists.txt
  src/bench/demo/README.md
  src/bench/demo/cpu/11_MassifProfiler_Demo.cpp
Due: clang-format-local, cmake-format-local, cmake-lint-local, iwyu-local

Rewrite walkthrough 03 from a Pi 4 rig capture
  CHANGELOG.md
  src/bench/demo/docs/03_GPERF_PROFILER.md
  src/bench/demo/reference/pi4/03_gperf_profiler.csv
Due: none

Rewrite walkthrough 14 from a massif capture on the Pi rig
  CHANGELOG.md
  src/bench/demo/docs/14_MASSIF_PROFILER.md
  src/bench/demo/reference/pi4/14_massif_profiler.csv
Due: none

Show walkthrough 21's comparison as the merged CLI prints it
  src/bench/demo/README.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
Due: none

Regenerate walkthrough 01's comparison output from its saved CSVs
  src/bench/demo/docs/01_BASIC_WORKFLOW.md
Due: none

Regenerate walkthrough 10's comparison output from its saved CSVs
  src/bench/demo/docs/10_GPU_BASIC_WORKFLOW.md
Due: none

State heaptrack's cost as measured in its backend header
  CHANGELOG.md
  src/bench/inc/ProfilerHeaptrack.hpp
Due: clang-format-local, iwyu-local

End everything a readiness probe started, whatever way it ends
  CHANGELOG.md
  src/bench/inc/ProfilerReadiness.hpp
  src/bench/src/ProfilerReadiness.cpp
  src/bench/utst/ProfilerReadiness_uTest.cpp
  src/bench/utst/fixtures/readiness/fake_helper.sh
Due: clang-format-local, iwyu-local

Let a walkthrough's guard live in its example's tests
  CHANGELOG.md
  src/bench/demo/README.md
  src/bench/demo/docs/21_HEAPTRACK_PROFILER.md
  src/bench/demo/examples/join/utst/Join_uTest.cpp
Due: clang-format-local, iwyu-local

Path conditions:
  clang-format-local: any of: \.(c|cc|cpp|cxx|cu|cuh|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-format-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  cmake-lint-local: any of: (CMakeLists\.txt|\.cmake)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  hadolint-local: any of: (Dockerfile|\.Dockerfile)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
  iwyu-local: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx|tpp)$ and (?x)^(
  src/|
  cmake/|
  mk/|
  docs/|
  docker/|
  tools/|
  (CMakeLists\.txt|
   ExternalDependencies\.cmake|
   Makefile|
   README\.md|
   LICENSE(\.txt)?|
   Dockerfile(\..*)?|
   \.pre-commit-config\.yaml|
   \.cmake-format\.yaml|
   \.clang-format|
   \.clang-tidy|
   \.hadolint\.yaml|
   \.markdownlint\.yaml|
   \.flake8|
   \.gitignore)
)
 and not ((?x)^(
  build/|
  cmake-build.*|
  dist/|
  out/|
  node_modules/|
  \.git/|
  \.hg/|
  \.venv/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.cache/|
  compile_commands\.json$
)
)
